<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.DatacountInfoCustomMapper" >
	<select id="findDataBydate" resultType="com.zhenapp.po.Custom.DatacountInfoCustom" parameterType="java.util.HashMap">
		SELECT A.datevalue as date,IFNULL(B.flowcount,0) as flowcount,IFNULL(B.collectioncount,0) as collectioncount,IFNULL(B.shoppingcount,0) as shoppingcount,IFNULL(C.buypoints,0) as buypoints,IFNULL(D.expendpoints,0) as expendpoints FROM 
		(SELECT datevalue FROM t_date_info 
		<where>
			<if test="datefrom!= null and datefrom !='' ">
				AND datevalue >= #{datefrom}
			</if>
			<if test="dateto != null and dateto !='' ">
				AND datevalue <![CDATA[<=]]> #{dateto}
			</if>
		</where>
		) A
		LEFT JOIN (SELECT createtime,COUNT(flowcount) AS flowcount,COUNT(collectioncount) AS collectioncount,COUNT(shoppingcount) AS shoppingcount FROM t_task_info GROUP BY createtime) B
		ON A.datevalue=B.createtime
		LEFT JOIN (SELECT createtime,COUNT(pointsupdate) AS buypoints FROM t_points_info WHERE pointstype='1' GROUP BY createtime) C
		ON A.datevalue=C.createtime
		LEFT JOIN (SELECT createtime,COUNT(pointsupdate) AS expendpoints FROM t_points_info WHERE pointstype='0' GROUP BY createtime) D
		ON A.datevalue=D.createtime
		order by A.datevalue desc
	</select>
</mapper>