<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.DatacountInfoCustomMapper" >
	<select id="findDataBydate" resultType="com.zhenapp.po.Custom.DatacountInfoCustom" parameterType="java.util.HashMap">
		SELECT aaa.datevalue as date,SUM(IFNULL(aaa.flowcount,0)) AS flowcount,SUM(IFNULL(aaa.collectioncount,0)) AS collectioncount,SUM(IFNULL(aaa.shoppingcount,0)) AS shoppingcount,SUM(IFNULL(aaa.buypoints,0)) AS buypoints,SUM(IFNULL(aaa.expendpoints,0)) AS expendpoints,SUM(IFNULL(aaa.handworkpoints,0)) AS handworkpoints
		FROM (
		SELECT AA.*,B.flowcount,B.collectioncount,B.shoppingcount,C.buypoints,D.expendpoints,E.handworkpoints FROM 
		(SELECT A.datevalue,A.userid,B.agentpk,B.agentid,b.agentuserid FROM (SELECT a.datevalue,b.userid,b.agentid FROM t_date_info a,t_user_info b) A LEFT JOIN t_agent_info B ON A.AGENTID=B.AGENTID) AA
		LEFT JOIN (SELECT taskdate,createuser,SUM(flowcount) AS flowcount,SUM(collectioncount) AS collectioncount,SUM(shoppingcount) AS shoppingcount FROM t_task_info 
		<where>
			<if test="tasktype != null and tasktype != '' ">
				tasktype =#{tasktype}
			</if>
		</where>
		GROUP BY taskdate,createuser) B ON AA.datevalue=B.taskdate AND AA.userid=B.createuser
		LEFT JOIN (SELECT LEFT(createtime,8) AS taskdate,createuser,SUM(pointsupdate) AS buypoints FROM t_points_info WHERE pointstype='26' GROUP BY LEFT(createtime,8),createuser) C ON AA.datevalue=C.taskdate AND AA.userid=C.createuser
		LEFT JOIN (SELECT LEFT(createtime,8) AS taskdate,createuser,SUM(pointsupdate) AS expendpoints FROM t_points_info WHERE pointstype='27' GROUP BY LEFT(createtime,8),createuser) D ON AA.datevalue=D.taskdate AND AA.userid=D.createuser
		LEFT JOIN (SELECT LEFT(createtime,8) AS taskdate,createuser,SUM(pointsupdate) AS handworkpoints FROM t_points_info WHERE pointstype='31' GROUP BY LEFT(createtime,8),createuser) E ON AA.datevalue=E.taskdate AND AA.userid=E.createuser
		<where>
			<if test="agentid != null and agentid !='' ">
				and AA.agentid= #{agentid}
			</if>
			<if test="agentpk != null and agentpk !='' ">
				and AA.agentpk= #{agentpk}
			</if>
			<if test="datefrom!= null and datefrom !='' ">
				AND AA.datevalue >= #{datefrom}
			</if>
			<if test="dateto != null and dateto !='' ">
				AND AA.datevalue <![CDATA[<=]]> #{dateto}
			</if>
		</where>
		) aaa
		group by aaa.datevalue ORDER BY aaa.datevalue DESC
	</select>
	<select id="findSUMDataBydate" resultType="com.zhenapp.po.Custom.DatacountInfoCustom" parameterType="java.util.HashMap">  
		SELECT SUM(IFNULL(aaa.flowcount,0)) AS sumflowcount,SUM(IFNULL(aaa.collectioncount,0)) AS sumcollectioncount,SUM(IFNULL(aaa.shoppingcount,0)) AS sumshoppingcount,SUM(IFNULL(aaa.buypoints,0)) AS sumbuypoints,SUM(IFNULL(aaa.expendpoints,0)) AS sumexpendpoints,SUM(IFNULL(aaa.handworkpoints,0)) AS sumhandworkpoints
		FROM (
		SELECT AA.*,B.flowcount,B.collectioncount,B.shoppingcount,C.buypoints,D.expendpoints,E.handworkpoints FROM 
		(SELECT A.datevalue,A.userid,B.agentpk,B.agentid,b.agentuserid FROM (SELECT a.datevalue,b.userid,b.agentid FROM t_date_info a,t_user_info b) A LEFT JOIN t_agent_info B ON A.AGENTID=B.AGENTID) AA
		LEFT JOIN (SELECT taskdate,createuser,SUM(flowcount) AS flowcount,SUM(collectioncount) AS collectioncount,SUM(shoppingcount) AS shoppingcount FROM t_task_info 
		<where>
			<if test="tasktype != null and tasktype != '' ">
				tasktype =#{tasktype}
			</if>
		</where>
		 GROUP BY taskdate,createuser) B ON AA.datevalue=B.taskdate AND AA.userid=B.createuser
		LEFT JOIN (SELECT LEFT(createtime,8) AS taskdate,createuser,SUM(pointsupdate) AS buypoints FROM t_points_info WHERE pointstype='26' GROUP BY LEFT(createtime,8),createuser) C ON AA.datevalue=C.taskdate AND AA.userid=C.createuser
		LEFT JOIN (SELECT LEFT(createtime,8) AS taskdate,createuser,SUM(pointsupdate) AS expendpoints FROM t_points_info WHERE pointstype='27' GROUP BY LEFT(createtime,8),createuser) D ON AA.datevalue=D.taskdate AND AA.userid=D.createuser
		LEFT JOIN (SELECT LEFT(createtime,8) AS taskdate,createuser,SUM(pointsupdate) AS handworkpoints FROM t_points_info WHERE pointstype='31' GROUP BY LEFT(createtime,8),createuser) E ON AA.datevalue=E.taskdate AND AA.userid=E.createuser
		<where>
			<if test="agentid != null and agentid !='' ">
				and AA.agentid= #{agentid}
			</if>
			<if test="agentpk != null and agentpk !='' ">
				and AA.agentpk= #{agentpk}
			</if>
			<if test="datefrom!= null and datefrom !='' ">
				AND AA.datevalue >= #{datefrom}
			</if>
			<if test="dateto != null and dateto !='' ">
				AND AA.datevalue <![CDATA[<=]]> #{dateto}
			</if>
		</where>
		) aaa
		ORDER BY aaa.datevalue DESC
	</select>
</mapper>