<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TAgentInfoCustomMapper" >
	<select id="findAgentBypage" parameterType="java.util.HashMap" resultType="com.zhenapp.po.Custom.TAgentInfoCustom">
		select * from t_agent_info limit #{page},#{rows}
	</select>
	<select id="findAllAgentBypage" parameterType="java.util.HashMap" resultType="com.zhenapp.po.Custom.TAgentInfoCustom">
		select * from t_agent_info
	</select>
	<select id="findAgentByuserid" parameterType="String" resultType="com.zhenapp.po.Custom.TAgentInfoCustom">
		select * from t_agent_info where agentuserid = #{userid}
	</select>
	<delete id="deleteAgentByid" parameterType="String">
		delete from t_agent_info where agentid in (#{ids}) 
	</delete>
</mapper>