<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TGuideInfoCustomMapper" >
  <select id="findGuide_10" resultType="com.zhenapp.po.Custom.TGuideInfoCustom" parameterType="java.util.HashMap">
	SELECT a.* FROM t_guide_info a
	INNER JOIN t_note_info b ON b.noteid=a.guideid
	<where>
		<if test="agentid != null and agentid != '' ">
			and b.agentid = #{agentid}
		</if>
		and b.notetype='1' AND b.notestate='67' 
	</where>
	ORDER BY a.guidepk DESC LIMIT 0,10
  </select>
  <select id="findAllGuide" resultType="com.zhenapp.po.Custom.TGuideInfoCustom" parameterType="java.util.HashMap">
	SELECT a.* FROM t_guide_info a
	INNER JOIN t_note_info b ON b.noteid=a.guideid
	<where>
		<if test="agentid != null and agentid != '' ">
			and b.agentid = #{agentid}
		</if>
		and b.notetype='1' AND b.notestate='67' 
	</where>
	ORDER BY a.guidepk DESC 
  </select>
  <select id="findTotalGuide" resultType="int" parameterType="java.util.HashMap">
  	SELECT count(1) FROM t_guide_info a
	INNER JOIN t_note_info b ON b.noteid=a.guideid
	<where>
		<if test="agentid != null and agentid != '' ">
			and b.agentid = #{agentid}
		</if>
		and b.notetype='1' AND b.notestate='67' 
	</where>
  </select>
  
  <select id="findElectrityBypk" resultType="com.zhenapp.po.Custom.TGuideInfoCustom" parameterType="String">
    select * from t_guide_info where guidepk =#{guidepk}
  </select>
  <select id="findGuideBypage" resultType="com.zhenapp.po.Custom.TGuideInfoCustom" parameterType="java.util.HashMap">
    SELECT a.* FROM t_guide_info a
	INNER JOIN t_note_info b ON b.noteid=a.guideid
	WHERE b.notetype='1' AND b.notestate='67'
	ORDER BY a.guidepk DESC  LIMIT #{page},#{rows}
  </select>
  
  <delete id="deleteById" parameterType="java.util.HashMap">
  	delete from t_guide_info where guideid=#{noteid}
  </delete>

  <update id="updateGuideById" parameterType="java.util.HashMap">
	  update t_guide_info set guidename=#{notename},guidetext=#{notetext},updatetime=#{updatetime},updateuser=#{updateuser}
	  where guideid=#{noteid}
  </update>

  <insert id="insertGuideInfo" parameterType="com.zhenapp.po.Custom.TGuideInfoCustom">
  	insert into t_guide_info (guideid, guidename, 
      createtime, createuser, updatetime, 
      updateuser, guidetext)
    values (#{guideid,jdbcType=INTEGER}, #{guidename,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{updateuser,jdbcType=VARCHAR}, #{guidetext,jdbcType=LONGVARCHAR})
  </insert>
</mapper>