<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TIntroInfoCustomMapper" >
	<select id="findIntroinfo" resultType="com.zhenapp.po.Custom.TIntroInfoCustom" parameterType="java.util.HashMap">
		SELECT a.* FROM t_intro_info a
		INNER JOIN t_note_info b ON b.noteid=a.introid
		<where>
			<if test="agentid != null and agentid != '' ">
				and b.agentid = #{agentid}
			</if>
			and b.notetype='2' AND b.notestate='67' 
		</where>
		ORDER BY a.intropk DESC LIMIT 0,1
	</select>
	
	<update id="updateIntroById" parameterType="java.util.HashMap">
	  	UPDATE t_intro_info SET introname=#{notename},introtext=#{notetext},updatetime=#{updatetime},updateuser=#{updateuser} WHERE introid=#{noteid}
	</update>
	
	<insert id="insertIntro" parameterType="com.zhenapp.po.Custom.TIntroInfoCustom">
		insert into t_intro_info ( introid, introname, 
      createtime, createuser, updatetime, 
      updateuser, introtext)
    values ( #{introid,jdbcType=VARCHAR}, #{introname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{updateuser,jdbcType=VARCHAR}, #{introtext,jdbcType=LONGVARCHAR})
	</insert>
</mapper>