<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TPhoneInfoCustomMapper" >
  
  <select id="findTPhoneByTask" resultType="com.zhenapp.po.Custom.TPhoneInfoCustom" parameterType="java.util.HashMap" >
   SELECT aa.phoneid,IFNULL(bb.counts,0) FROM (
	SELECT b.phoneid FROM t_phone_info b 
	WHERE b.phoneid NOT IN (SELECT c.phoneid FROM t_task_detailinfo c WHERE c.taskkeynum =#{taskkeynum} AND c.taskdate=#{taskdate} ) 
	AND b.phonestate='1') aa 
	LEFT JOIN (SELECT phoneid, COUNT(1) AS counts FROM t_task_detailinfo GROUP BY phoneid) bb ON aa.phoneid=bb.phoneid ORDER BY BB.COUNTS,PHONEID LIMIT 0,1
  </select>
  
  <select id="findAllPhoneBykeynum" resultType="com.zhenapp.po.Custom.TPhoneInfoCustom" parameterType="String" >
   SELECT aa.phoneid,IFNULL(bb.counts,0) FROM (
	SELECT b.phoneid FROM t_phone_info b 
	WHERE b.phoneid NOT IN (SELECT c.phoneid FROM t_task_detailinfo c WHERE c.taskkeynum =#{taskkeynum} AND c.taskdate=#{taskdate} ) 
	AND b.phonestate='1') aa 
	LEFT JOIN (SELECT phoneid, COUNT(1) AS counts FROM t_task_detailinfo GROUP BY phoneid) bb ON aa.phoneid=bb.phoneid ORDER BY BB.COUNTS,PHONEID
  </select>
  
  <select id="findPhonecountBykeynum" parameterType="String" resultType="int">
  	SELECT COUNT(1) FROM t_phone_info WHERE phoneid NOT IN (SELECT phoneid FROM t_task_detailinfo WHERE taskkeynum=#{taskkeynum} AND taskdate=DATE_FORMAT(NOW(),'%Y%m%d')) AND phonestate='1' 
  </select>
  
  <select id="findAllPhoneBycount" parameterType="int" resultType="com.zhenapp.po.Custom.TPhoneInfoCustom">
  	select * from t_phone_info limit 0,#{count}
  </select>
  
  <select id="findPhoneAndTask" parameterType="java.util.HashMap" resultType="com.zhenapp.po.Custom.TPhoneInfoCustom">
  	SELECT a.phoneid,b.counts FROM t_phone_info a
	LEFT JOIN (SELECT phoneid,COUNT(1) AS counts FROM t_task_detailinfo WHERE taskstate='40' GROUP BY phoneid) b ON a.phoneid=b.phoneid
	<where>
		<if test="phonestate !=null and phonestate != '' ">
			and a.phonestate = #{phonestate}
		</if>
	</where>
	ORDER BY b.counts,a.phoneid+0
  </select>
</mapper>