<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TScriptInfoCustomMapper" >
  
  <insert id="insertScript" parameterType="com.zhenapp.po.Custom.TScriptInfoCustom" >
    insert into t_script_info ( scriptid, scriptname, 
      scriptpath, createtime, createuser, 
      updatetime, updateuser)
    values (#{scriptid,jdbcType=VARCHAR}, #{scriptname,jdbcType=VARCHAR}, 
      #{scriptpath,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR})
  </insert>
  <select id="findAllScriptByPage" resultType="com.zhenapp.po.Custom.TScriptInfoCustom">
  	select * from t_script_info order by updatetime desc 
  </select>
  <select id="findScriptByPage" resultType="com.zhenapp.po.Custom.TScriptInfoCustom">
  	select * from t_script_info order by updatetime desc limit #{page},#{rows}
  </select>
  <select id="findTotalScriptByPage" resultType="com.zhenapp.po.Custom.TScriptInfoCustom">
  	select count(1) from t_script_info order by updatetime desc limit #{page},#{rows}
  </select>
  <select id="findScriptByid" parameterType="String" resultType="com.zhenapp.po.Custom.TScriptInfoCustom">
  	select * from t_script_info where scriptid=#{scriptid} 
  </select>
  
  <delete id="deletescriptByid" parameterType="String">
  	delete from t_script_info where scriptid=#{scriptid}
  </delete>
</mapper>