<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TSysMenuCustomMapper" >
  
  <select id="findAllMenu" resultType="com.zhenapp.po.Custom.TSysMenuCustom">
    select * from t_sys_menu
  </select>
  
  <select id="findMenuBytid" resultType="com.zhenapp.po.Custom.TSysMenuCustom" parameterType="java.util.HashMap">
    SELECT a.* FROM t_sys_menu a LEFT JOIN t_rolemenu_info b ON a.id=b.menuid WHERE b.roleid=#{userroleid} and tid=#{tid}
  </select>
</mapper>