<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TSysconfInfoCustomMapper" >
  <update id="updateSysinfo" parameterType="com.zhenapp.po.Custom.TSysconfInfoCustom" >
     update t_sysconf_info
    set
      sysconfvalue1 = #{sysconfvalue1,jdbcType=VARCHAR},
      sysconfvalue4 = #{sysconfvalue4,jdbcType=VARCHAR},
      sysconfvalue5 = #{sysconfvalue5,jdbcType=VARCHAR},
      sysconfvalue6 = #{sysconfvalue6,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
  </update>
  
  <select id="findSysconf" resultType="com.zhenapp.po.Custom.TSysconfInfoCustom" >
	  select * from t_sysconf_info
  </select>
  
  <select id="findSysdesable" resultType="String">
  	  SELECT sysconfvalue6 FROM t_sysconf_info
  </select>
</mapper>