<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TTaskDetailinfoFlowCustomMapper" >
	<insert id="insertTaskDetailInfoFlow" parameterType="com.zhenapp.po.Custom.TTaskDetailInfoFlowCustom">
		<selectKey keyProperty="taskdetailpk" order="AFTER" resultType="int">
	  		select LAST_INSERT_ID()
	  	</selectKey>
		 insert into t_task_detailinfo_flow ( taskdetailid, taskid, 
	      taskkeyword, taskhourcounts, searchtype, 
	      price, region, isfreeship, 
	      istmall, taskkeynum, taskurl, 
	      minpicture, maxpicture, tasktype, 
	      isflow, iscreativetitle, 
	      taskstate, taskdate, finishcount, 
	      errorcount, subtractpoints, createtime, 
	      createuser, updatetime, updateuser
	      )
	    values (#{taskdetailid,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, 
	      #{taskkeyword,jdbcType=VARCHAR}, #{taskhourcounts,jdbcType=VARCHAR}, #{searchtype,jdbcType=VARCHAR}, 
	      #{price,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{isfreeship,jdbcType=VARCHAR}, 
	      #{istmall,jdbcType=VARCHAR}, #{taskkeynum,jdbcType=VARCHAR}, #{taskurl,jdbcType=VARCHAR}, 
	      #{minpicture,jdbcType=VARCHAR}, #{maxpicture,jdbcType=VARCHAR}, #{tasktype,jdbcType=VARCHAR}, 
	      #{isflow,jdbcType=VARCHAR}, #{iscreativetitle,jdbcType=VARCHAR},
	      #{taskstate,jdbcType=VARCHAR}, #{taskdate,jdbcType=VARCHAR}, #{finishcount,jdbcType=INTEGER}, 
	      #{errorcount,jdbcType=INTEGER}, #{subtractpoints,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, 
	      #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
	      )
	</insert>
	
	<update id="updateTaskdetailIdByPk" parameterType="java.util.HashMap">
		update t_task_detailinfo_flow set taskdetailid=#{taskdetailid} where taskdetailpk=#{taskdetailpk}
	</update>
	
	<update id="updateTaskstate" parameterType="java.util.HashMap">
		update t_task_detailinfo_flow set taskstate=#{taskstate} where taskid=#{taskid}
	</update>
	
	<update id="updatefinishcount" parameterType="java.util.HashMap">
		update t_task_detailinfo_flow set finishcount=#{finishcount} where taskid=#{taskid}
	</update>
	
	<select id="findTaskdetailInfo" parameterType="java.util.HashMap" resultType="com.zhenapp.po.Custom.TTaskDetailInfoFlowCustom">
		select * from t_task_detailinfo_flow
		<where>
			<if test="taskid != null and taskid != ''">
				and taskid = #{taskid}
			</if>
		</where>
		limit 0,1
	</select>
</mapper>