<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TTaskDetailinfoCustomMapper" >
  <select id="requesttaskByphoneid" parameterType="String" resultType="com.zhenapp.po.Custom.TTaskDetailInfoCustom">
  	SELECT * FROM t_task_detailinfo WHERE taskkeynum NOT IN (
SELECT taskkeynum FROM t_task_detailinfo WHERE taskstate='1' AND taskdate=DATE_FORMAT(NOW(),'%Y%m%d') AND phoneid = #{phoneid}
) ORDER BY taskhour,taskminute LIMIT 0,1
  </select>
  
  <insert id="insertDetailinfo" parameterType="com.zhenapp.po.Custom.TTaskDetailInfoCustom" >
    insert into t_task_detailinfo ( taskdetailid, taskid, 
      taskkeyword, searchtype, price, 
      region, isfreeship, istmall, 
      iscollection, isshopping, taskkeynum, 
      minpicture, maxpicture, tasktype, 
      isflow, iscreativetitle, isshopcollect, 
      taskstate, taskdate, taskhour, 
      taskminute, phoneid, createtime, 
      createuser, updatetime, updateuser
      )
    values ( #{taskdetailid,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, 
      #{taskkeyword,jdbcType=VARCHAR}, #{searchtype,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{isfreeship,jdbcType=VARCHAR}, #{istmall,jdbcType=VARCHAR}, 
      #{iscollection,jdbcType=VARCHAR}, #{isshopping,jdbcType=VARCHAR}, #{taskkeynum,jdbcType=VARCHAR}, 
      #{minpicture,jdbcType=VARCHAR}, #{maxpicture,jdbcType=VARCHAR}, #{tasktype,jdbcType=VARCHAR}, 
      #{isflow,jdbcType=VARCHAR}, #{iscreativetitle,jdbcType=VARCHAR}, #{isshopcollect,jdbcType=VARCHAR}, 
      #{taskstate,jdbcType=VARCHAR}, #{taskdate,jdbcType=VARCHAR}, #{taskhour,jdbcType=VARCHAR}, 
      #{taskminute,jdbcType=VARCHAR}, #{phoneid,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TTaskDetailinfo" >
     update t_task_detailinfo
    set taskdetailid = #{taskdetailid,jdbcType=VARCHAR},
      taskid = #{taskid,jdbcType=VARCHAR},
      phoneid = #{phoneid,jdbcType=VARCHAR},
      taskkeyword = #{taskkeyword,jdbcType=VARCHAR},
      taskkeynum = #{taskkeynum,jdbcType=VARCHAR},
      ISflow = #{isflow,jdbcType=VARCHAR},
      ISCollection = #{iscollection,jdbcType=VARCHAR},
      ISShopping = #{isshopping,jdbcType=VARCHAR},
      taskstate = #{taskstate,jdbcType=VARCHAR},
      taskdate = #{taskdate,jdbcType=VARCHAR},
      taskhour = #{taskhour,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where taskdetailpk = #{taskdetailpk,jdbcType=INTEGER}
  </update>
  <update id="updateTaskDetailstate" parameterType="String">
  	update t_task_detailinfo set taskstate = '26' where taskdetailid = #{taskdetailid}
  </update>
</mapper>