<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TTaskInfoCustomMapper" >
  <select id="findTaskerrorcounts" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="java.util.HashMap">
  	SELECT a.taskid,COUNT(1) AS counts FROM t_task_info a
	LEFT JOIN t_task_detailinfo b ON a.taskid= b.taskid
	<where>
		<if test="tasktype != null and tasktype !='' ">
			and a.tasktype=#{tasktype}
		</if>
		and a.taskstate='16' AND DATE_FORMAT(a.taskdate,'%Y%m%d') = DATE_FORMAT(NOW(),'%Y%m%d') AND b.taskstate='22' GROUP BY a.taskid HAVING counts <![CDATA[>=]]> #{counts}
	</where>
  </select>
  <select id="findTaskInfoBypks" parameterType="String" resultType="com.zhenapp.po.Custom.TTaskInfoCustom">
  	select * from t_task_info where taskpk in (${value})
  </select>
  <select id="findTaskBypage" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="java.util.HashMap" >
  SELECT g.usernick,DATE_FORMAT(a.taskdate,'%Y-%m-%d') AS taskdaterange,a.taskpk,a.taskid, a.tasktype, 
     a.taskkeynum, a.tasktitle, a.taskwirelesstitle, 
     a.taskstartdate,a.taskenddate,a.taskdate, 
     a.taskreleasekeyword,a.taskkeyword,a.taskhourcounts, 
     a.taskminprice,a.taskmaxprice,a.tasksearchType, 
     a.taskimgztc,a.taskimgpt,a.flowcount, 
     a.Collectioncount,a.Shoppingcount,a.storecollectioncount,a.fakechatcount,a.tasktmallapppct,a.creativetitle,
     a.taskgprspct,a.taskPlus,a.taskduration, 
     a.subtractpoints,a.taskstate,DATE_FORMAT(a.createtime,'%Y-%m-%d %H:%i:%s') AS createtime, 
     a.createuser,a.updatetime,a.updateuser,b.dicinfoname,
     CASE WHEN a.tasktype='34' THEN IFNULL(c.finishztccount,0) + IFNULL(c.finishcollectionztccount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0)>=IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0)>=IFNULL(c.finishshoppingllcount,0) THEN IFNULL(f.finishcount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0)>=IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishshoppingllcount,0) THEN IFNULL(c.finishshoppingllcount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0)>=IFNULL(c.finishshoppingllcount,0) THEN IFNULL(c.finishcollectionllcount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishshoppingllcount,0) AND IFNULL(c.finishcollectionllcount,0) <![CDATA[<]]> IFNULL(c.finishshoppingllcount,0) THEN IFNULL(c.finishshoppingllcount,0)
     ELSE IFNULL(c.finishcollectionllcount,0) END finishflowcount,
     CASE WHEN a.tasktype='33' THEN IFNULL(c.finishcollectionllcount,0) ELSE IFNULL(c.finishcollectionztccount,0) END AS finishcollectioncount,CASE WHEN a.tasktype='33' THEN IFNULL(c.finishshoppingllcount,0) ELSE IFNULL(c.finishshoppingztccount,0) END AS finishshoppingcount,IFNULL(d.errorcount,0) AS errorcount,e.dicinfoname AS tasktypename 
     FROM t_task_info a
	LEFT JOIN (SELECT dicinfoid,dicinfoname FROM t_data_dic_info WHERE dictypecode='runstate') b ON a.taskstate=b.dicinfoid
	LEFT JOIN t_data_dic_info e ON a.tasktype=e.dicinfoid
	LEFT JOIN t_task_detailinfo_flow f ON a.taskid = f.taskid
	LEFT JOIN (SELECT aa.taskid,SUM(IFNULL(aa.iscollectionll,0)) AS finishcollectionllcount, SUM(IFNULL(aa.isshoppingztc,0)) AS finishcollectionztccount,
	SUM(IFNULL(aa.isshoppingll,0)) AS finishshoppingllcount,SUM(IFNULL(aa.isshoppingztc,0)) AS finishshoppingztccount,
	SUM(IFNULL(aa.ztc,0)) AS finishztccount FROM (SELECT taskid,tasktype,CASE WHEN isshopping=1 AND tasktype='33' THEN 1 ELSE 0 END AS isshoppingll,
	CASE WHEN iscollection=1 AND tasktype='33' THEN 1 ELSE 0 END AS iscollectionll,CASE WHEN isshopping=0 AND iscollection=0 AND tasktype='34' THEN 1 ELSE 0 END AS ztc,
	CASE WHEN isshopping=1 AND iscollection=1 AND tasktype='34' THEN 1 ELSE 0 END AS isshoppingztc FROM t_task_detailinfo WHERE taskstate='21') aa GROUP BY aa.taskid) c ON a.taskid=c.taskid
	LEFT JOIN (SELECT aa.taskid,SUM(IFNULL(aa.isshoppingll,0))+SUM(IFNULL(aa.iscollectionll,0))+SUM(IFNULL(aa.ztc,0))+SUM(IFNULL(aa.isshoppingztc,0)) AS errorcount FROM(
	SELECT taskid,tasktype,CASE WHEN isshopping=1 AND tasktype='33' THEN 1 ELSE 0 END AS isshoppingll,
	CASE WHEN iscollection=1 AND tasktype='33' THEN 1 ELSE 0 END AS iscollectionll,CASE WHEN isshopping=0 AND iscollection=0 AND tasktype='34' THEN 1 ELSE 0 END AS ztc,
	CASE WHEN isshopping=1 AND iscollection=1 AND tasktype='34' THEN 1 ELSE 0 END AS isshoppingztc FROM t_task_detailinfo WHERE taskstate='22') aa GROUP BY aa.taskid) d ON a.taskid=d.taskid
	LEFT JOIN t_user_info g ON a.createuser = g.userid
	<where>
		<if test="today != null and today != '' ">
			and a.taskdate+0 <![CDATA[>=]]> #{today}+0
		</if>
		<if test="before != null and before != '' ">
			and a.taskdate+0 <![CDATA[<]]> #{before}+0
		</if>
    	<if test="taskid !=null and taskid !='' ">
    		and a.taskid like '%${taskid}%'
    	</if>
    	<if test="taskpk !=null and taskpk != ''">
    		and a.taskpk = #{taskpk}
    	</if>
    	<if test="datefrom != null and datefrom != ''">
    		and a.createtime <![CDATA[>=]]> #{datefrom}
    	</if>
    	<if test="dateto != null and dateto != ''">
    		and a.createtime <![CDATA[<=]]> #{dateto}
    	</if>
    	<if test="userid != null and userid != ''">
    		and a.createuser = #{userid}
    	</if>
    	<if test="keyword != null and keyword != ''">
    		and a.taskkeyword like '%${keyword}%'
    	</if>
    	<if test="taskkeyword != null and taskkeyword != ''">
    		and a.taskkeyword like '%${taskkeyword}%'
    	</if>
    	<if test="tasktype != null and tasktype != ''">
    		and a.tasktype = #{tasktype}
    	</if>
    	<if test="taskstate != null and taskstate != ''">
    		and a.taskstate = #{taskstate}
    	</if>
    	<if test="taskkeynum != null and taskkeynum != ''">
    		and a.taskkeynum = #{taskkeynum}
    	</if>
    </where>
     ORDER BY a.taskpk+0 DESC LIMIT #{page},#{rows}
  </select>
  
  <select id="findTaskBypageAndrole" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="java.util.HashMap" >
     SELECT g.usernick,DATE_FORMAT(a.taskdate,'%Y-%m-%d') AS taskdaterange,a.taskpk,a.taskid, a.tasktype, 
     a.taskkeynum, a.tasktitle, a.taskwirelesstitle, 
     a.taskstartdate,a.taskenddate,a.taskdate, 
     a.taskreleasekeyword,a.taskkeyword,a.taskhourcounts, 
     a.taskminprice,a.taskmaxprice,a.tasksearchType,a.creativetitle,
     a.taskimgztc,a.taskimgpt,a.flowcount, 
     a.Collectioncount,a.Shoppingcount,a.storecollectioncount,a.fakechatcount,a.tasktmallapppct, 
     a.taskgprspct,a.taskPlus,a.taskduration, 
     a.subtractpoints,a.taskstate,DATE_FORMAT(a.createtime,'%Y-%m-%d %H:%i:%s') AS createtime, 
     a.createuser,a.updatetime,a.updateuser,b.dicinfoname,
     CASE WHEN a.tasktype='34' THEN IFNULL(c.finishztccount,0) + IFNULL(c.finishcollectionztccount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0)>=IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0)>=IFNULL(c.finishshoppingllcount,0) THEN IFNULL(f.finishcount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0)>=IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishshoppingllcount,0) THEN IFNULL(c.finishshoppingllcount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0)>=IFNULL(c.finishshoppingllcount,0) THEN IFNULL(c.finishcollectionllcount,0)
     WHEN a.tasktype='33' AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishcollectionllcount,0) AND IFNULL(f.finishcount,0) <![CDATA[<]]> IFNULL(c.finishshoppingllcount,0) AND IFNULL(c.finishcollectionllcount,0) <![CDATA[<]]> IFNULL(c.finishshoppingllcount,0) THEN IFNULL(c.finishshoppingllcount,0)
     ELSE IFNULL(c.finishcollectionllcount,0) END finishflowcount,
     CASE WHEN a.tasktype='33' THEN IFNULL(c.finishcollectionllcount,0) ELSE IFNULL(c.finishcollectionztccount,0) END AS finishcollectioncount,CASE WHEN a.tasktype='33' THEN IFNULL(c.finishshoppingllcount,0) ELSE IFNULL(c.finishshoppingztccount,0) END AS finishshoppingcount,IFNULL(d.errorcount,0) AS errorcount,e.dicinfoname AS tasktypename 
     FROM t_task_info a
	LEFT JOIN (SELECT dicinfoid,dicinfoname FROM t_data_dic_info WHERE dictypecode='runstate') b ON a.taskstate=b.dicinfoid
	LEFT JOIN t_data_dic_info e ON a.tasktype=e.dicinfoid
	LEFT JOIN t_task_detailinfo_flow f ON a.taskid = f.taskid
	LEFT JOIN (SELECT aa.taskid,SUM(IFNULL(aa.iscollectionll,0)) AS finishcollectionllcount, SUM(IFNULL(aa.isshoppingztc,0)) AS finishcollectionztccount,
	SUM(IFNULL(aa.isshoppingll,0)) AS finishshoppingllcount,SUM(IFNULL(aa.isshoppingztc,0)) AS finishshoppingztccount,
	SUM(IFNULL(aa.ztc,0)) AS finishztccount FROM (SELECT taskid,tasktype,CASE WHEN isshopping=1 AND tasktype='33' THEN 1 ELSE 0 END AS isshoppingll,
	CASE WHEN iscollection=1 AND tasktype='33' THEN 1 ELSE 0 END AS iscollectionll,CASE WHEN isshopping=0 AND iscollection=0 AND tasktype='34' THEN 1 ELSE 0 END AS ztc,
	CASE WHEN isshopping=1 AND iscollection=1 AND tasktype='34' THEN 1 ELSE 0 END AS isshoppingztc FROM t_task_detailinfo WHERE taskstate='21') aa GROUP BY aa.taskid) c ON a.taskid=c.taskid
	LEFT JOIN (SELECT aa.taskid,SUM(IFNULL(aa.isshoppingll,0))+SUM(IFNULL(aa.iscollectionll,0))+SUM(IFNULL(aa.ztc,0))+SUM(IFNULL(aa.isshoppingztc,0)) AS errorcount FROM(
	SELECT taskid,tasktype,CASE WHEN isshopping=1 AND tasktype='33' THEN 1 ELSE 0 END AS isshoppingll,
	CASE WHEN iscollection=1 AND tasktype='33' THEN 1 ELSE 0 END AS iscollectionll,CASE WHEN isshopping=0 AND iscollection=0 AND tasktype='34' THEN 1 ELSE 0 END AS ztc,
	CASE WHEN isshopping=1 AND iscollection=1 AND tasktype='34' THEN 1 ELSE 0 END AS isshoppingztc FROM t_task_detailinfo WHERE taskstate='22') aa GROUP BY aa.taskid) d ON a.taskid=d.taskid
	LEFT JOIN t_user_info g ON a.createuser = g.userid
	INNER JOIN (SELECT a.* FROM t_user_info a WHERE a.agentid IN (SELECT agentid FROM t_agent_info WHERE agentuserid=#{userid})) h ON a.createuser=h.userid
	<where>
    	<if test="taskid !=null and taskid != ''">
    		and a.taskid like '%${taskid}%'
    	</if>
    	<if test="taskpk !=null and taskpk != ''">
    		and a.taskpk = #{taskpk}
    	</if>
    	<if test="today != null and today != '' ">
			and a.taskdate+0 <![CDATA[>=]]> #{today}+0
		</if>
		<if test="before != null and before != '' ">
			and a.taskdate+0 <![CDATA[<]]> #{before}+0
		</if>
    	<if test="datefrom != null and datefrom != ''">
    		and a.createtime <![CDATA[>=]]> #{datefrom}
    	</if>
    	<if test="dateto != null and dateto != ''">
    		and a.createtime <![CDATA[<=]]> #{dateto}
    	</if>
    	<if test="taskkeyword != null and taskkeyword != ''">
    		and a.taskkeyword like '%${taskkeyword}%'
    	</if>
    	<if test="taskkeynum != null and taskkeynum != ''">
    		and a.taskkeynum = #{taskkeynum}
    	</if>
    	<if test="tasktype != null and tasktype != ''">
    		and a.tasktype = #{tasktype}
    	</if>
    	<if test="createuser != null and createuser != ''">
    		and a.createuser = #{createuser}
    	</if>
    </where>
     ORDER BY a.taskpk+0 DESC LIMIT #{page},#{rows}
  </select>
  
    <select id="findTotalTaskBypageAndrole" resultType="int" parameterType="java.util.HashMap" >
   SELECT count(1) FROM t_task_info a
     LEFT JOIN (SELECT dicinfoid,dicinfoname FROM t_data_dic_info WHERE dictypecode='runstate') b ON a.taskstate=b.dicinfoid
	LEFT JOIN t_data_dic_info e ON a.tasktype=e.dicinfoid
	LEFT JOIN t_task_detailinfo_flow h ON a.taskid = h.taskid
	LEFT JOIN (SELECT taskid,SUM(iscollection) AS finishcollectioncount,SUM(isshopping) AS finishshoppingcount,SUM(isstorecollection) AS finishstorecollectioncount,SUM(isfakechat) AS finishfakechatcount FROM t_task_detailinfo WHERE taskstate='21' GROUP BY taskid) c ON a.taskid=c.taskid
	LEFT JOIN (SELECT taskid,(SUM(iscollection)+SUM(isshopping)+SUM(isstorecollection)+SUM(isfakechat)) AS errorcount FROM t_task_detailinfo WHERE taskstate='22' GROUP BY taskid) d ON a.taskid=d.taskid
	LEFT JOIN t_user_info g ON a.createuser = g.userid
	INNER JOIN (SELECT a.* FROM t_user_info a WHERE a.agentid IN (SELECT agentid FROM t_agent_info WHERE agentuserid=#{userid})) f ON a.createuser=f.userid
	<where>
    	<if test="taskid !=null and taskid != ''">
    		and a.taskid like '%${taskid}%'
    	</if>
    	<if test="taskpk !=null and taskpk != ''">
    		and a.taskpk = #{taskpk}
    	</if>
    	<if test="today != null and today != '' ">
			and a.taskdate+0 <![CDATA[>=]]> #{today}+0
		</if>
		<if test="before != null and before != '' ">
			and a.taskdate+0 <![CDATA[<]]> #{before}+0
		</if>
    	<if test="datefrom != null and datefrom != ''">
    		and a.createtime <![CDATA[>=]]> #{datefrom}
    	</if>
    	<if test="dateto != null and dateto != ''">
    		and a.createtime <![CDATA[<=]]> #{dateto}
    	</if>
    	<if test="taskkeyword != null and taskkeyword != ''">
    		and a.taskkeyword like '%${taskkeyword}%'
    	</if>
    	<if test="taskkeynum != null and taskkeynum != ''">
    		and a.taskkeynum = #{taskkeynum}
    	</if>
    	<if test="tasktype != null and tasktype != ''">
    		and a.tasktype = #{tasktype}
    	</if>
    	<if test="createuser != null and createuser != ''">
    		and a.createuser = #{createuser}
    	</if>
    </where>
  </select>
  
  <select id="findTotalTaskBypage" resultType="int" parameterType="java.util.HashMap" >
    SELECT count(1) FROM t_task_info a
	LEFT JOIN (SELECT dicinfoid,dicinfoname FROM t_data_dic_info WHERE dictypecode='runstate') b ON a.taskstate=b.dicinfoid
	LEFT JOIN t_data_dic_info e ON a.tasktype=e.dicinfoid
	LEFT JOIN t_task_detailinfo_flow f ON a.taskid = f.taskid
	LEFT JOIN (SELECT taskid,SUM(iscollection) AS finishcollectioncount,SUM(isshopping) AS finishshoppingcount,SUM(isstorecollection) AS finishstorecollectioncount,SUM(isfakechat) AS finishfakechatcount FROM t_task_detailinfo WHERE taskstate='21' GROUP BY taskid) c ON a.taskid=c.taskid
	LEFT JOIN (SELECT taskid,(SUM(iscollection)+SUM(isshopping)+SUM(isstorecollection)+SUM(isfakechat)) AS errorcount FROM t_task_detailinfo WHERE taskstate='22' GROUP BY taskid) d ON a.taskid=d.taskid
	LEFT JOIN t_user_info g ON a.createuser = g.userid
	<where>
		<if test="today != null and today != '' ">
			and a.taskdate+0 <![CDATA[>=]]> #{today}+0
		</if>
		<if test="before != null and before != '' ">
			and a.taskdate+0 <![CDATA[<]]> #{before}+0
		</if>
    	<if test="taskid !=null and taskid !='' ">
    		and a.taskid like '%${taskid}%'
    	</if>
    	<if test="taskpk !=null and taskpk != ''">
    		and a.taskpk = #{taskpk}
    	</if>
    	<if test="datefrom != null and datefrom != ''">
    		and a.createtime <![CDATA[>=]]> #{datefrom}
    	</if>
    	<if test="dateto != null and dateto != ''">
    		and a.createtime <![CDATA[<=]]> #{dateto}
    	</if>
    	<if test="userid != null and userid != ''">
    		and a.createuser = #{userid}
    	</if>
    	<if test="keyword != null and keyword != ''">
    		and a.taskkeyword like '%${keyword}%'
    	</if>
    	<if test="taskkeyword != null and taskkeyword != ''">
    		and a.taskkeyword like '%${taskkeyword}%'
    	</if>
    	<if test="tasktype != null and tasktype != ''">
    		and a.tasktype = #{tasktype}
    	</if>
    	<if test="taskstate != null and taskstate != ''">
    		and a.taskstate = #{taskstate}
    	</if>
    	<if test="taskkeynum != null and taskkeynum != ''">
    		and a.taskkeynum = #{taskkeynum}
    	</if>
    </where>
  </select>
  
  <select id="findAllTaskBypage" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="java.util.HashMap" >
    select * from t_task_info
    <where>
    	<if test="taskid !=null and taskid!=''">
    		and taskid like '%${taskid}%'
    	</if>
    	<if test="datefrom != null and datefrom != ''">
    		and createtime+0 <![CDATA[>=]]> #{datefrom}+0
    	</if>
    	<if test="dateto != null and dateto != ''">
    		and createtime+0 <![CDATA[<=]]> #{dateto}+0
    	</if>
    </where>
    order by taskpk+0 desc
  </select>
  
  <select id="findTaskallocation" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="java.util.HashMap" >
    select * from t_task_info
    <where>
    	<if test="taskstate !=null and taskstate !=''">
    		AND taskstate=#{taskstate} 
    	</if>
    	<if test="taskdate != null and taskdate != ''">
    		AND taskdate = #{taskdate} 
    	</if>
    	<if test="taskkeynum != null and taskkeynum != ''">
    		AND taskkeynum = #{taskkeynum} 
    	</if>
    </where>
    order by taskpk+0 desc
  </select>
  
  <select id="findTaskInfoByTaskid" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="String" >
    select * from t_task_info WHERE taskid=#{taskid}
  </select>
  
  <select id="findTaskInfoByTaskstate" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="java.util.HashMap" >
    select * from t_task_info
    <where>
    	<if test="taskstate != null and taskstate != ''">
    		and taskstate in (${taskstate})
    	</if>
    	<if test="before != null and before != ''">
    		and taskdate+0 <![CDATA[<]]> DATE_FORMAT(#{before},'%Y%m%d')+0
    	</if>
    	<if test="allocationdate != null and allocationdate != ''">
    		and taskdate+0 <![CDATA[>=]]> DATE_FORMAT(#{allocationdate},'%Y%m%d')+0
    	</if>
    </where>
  </select>
  <select id="findEndTaskfordel" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="java.util.HashMap">
	  SELECT a.* FROM t_task_info a
	LEFT JOIN t_task_detailinfo b ON a.taskid=b.taskid
	WHERE a.taskstate=#{taskstate} AND b.taskstate='23'
  </select>
  
  <select id="findIsFirst" resultType="com.zhenapp.po.Custom.TTaskInfoCustom" parameterType="String" >
    select * from t_task_info WHERE taskkeynum=#{taskkeynum}
  </select>
  
  <insert id="insertTaskInfo" parameterType="com.zhenapp.po.Custom.TTaskInfoCustom" >
  	<selectKey keyProperty="taskpk" order="AFTER" resultType="int">
  		select LAST_INSERT_ID()
  	</selectKey>
      insert into t_task_info (taskid, tasktype, 
      taskkeynum, taskurl, tasktitle, 
      taskwirelesstitle, taskstartdate, taskenddate, 
      taskdate, taskreleasekeyword, taskkeyword, 
      taskhourcounts, taskprice, taskminprice, 
      taskmaxprice, shipaddress, tasksearchType, 
      creativetitle, taskimgztc, taskimgpt, 
      flowcount, Collectioncount, Shoppingcount, 
      storecollectioncount, fakechatcount, fakechatstr1, 
      fakechatstr2, fakechatstr3, fakechatstr4, 
      deepclick, tasktmallapppct, taskgprspct, 
      taskPlus, taskduration, iscreativetitle, 
      subtractpoints, taskstate, createtime, 
      createuser, updatetime, updateuser
      )
    values (#{taskid,jdbcType=VARCHAR}, #{tasktype,jdbcType=VARCHAR}, 
      #{taskkeynum,jdbcType=VARCHAR}, #{taskurl,jdbcType=VARCHAR}, #{tasktitle,jdbcType=VARCHAR}, 
      #{taskwirelesstitle,jdbcType=VARCHAR}, #{taskstartdate,jdbcType=VARCHAR}, #{taskenddate,jdbcType=VARCHAR}, 
      #{taskdate,jdbcType=VARCHAR}, #{taskreleasekeyword,jdbcType=VARCHAR}, #{taskkeyword,jdbcType=VARCHAR}, 
      #{taskhourcounts,jdbcType=VARCHAR}, #{taskprice,jdbcType=VARCHAR}, #{taskminprice,jdbcType=VARCHAR}, 
      #{taskmaxprice,jdbcType=VARCHAR}, #{shipaddress,jdbcType=VARCHAR}, #{tasksearchtype,jdbcType=VARCHAR}, 
      #{creativetitle,jdbcType=VARCHAR}, #{taskimgztc,jdbcType=VARCHAR}, #{taskimgpt,jdbcType=VARCHAR}, 
      #{flowcount,jdbcType=INTEGER}, #{collectioncount,jdbcType=INTEGER}, #{shoppingcount,jdbcType=INTEGER}, 
      #{storecollectioncount,jdbcType=INTEGER}, #{fakechatcount,jdbcType=INTEGER}, #{fakechatstr1,jdbcType=VARCHAR}, 
      #{fakechatstr2,jdbcType=VARCHAR}, #{fakechatstr3,jdbcType=VARCHAR}, #{fakechatstr4,jdbcType=VARCHAR}, 
      #{deepclick,jdbcType=VARCHAR}, #{tasktmallapppct,jdbcType=VARCHAR}, #{taskgprspct,jdbcType=VARCHAR}, 
      #{taskplus,jdbcType=VARCHAR}, #{taskduration,jdbcType=VARCHAR}, #{iscreativetitle,jdbcType=VARCHAR}, 
      #{subtractpoints,jdbcType=INTEGER}, #{taskstate,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="updateTaskstate" parameterType="java.util.HashMap">
  	update t_task_info set taskstate=#{taskstate},updatetime=#{updatetime},updateuser=#{updateuser} 
  	<where>
  		<if test="userid != null and userid != ''">
  			and createuser=#{userid}	
  		</if>
  		<if test="taskid != null and taskid != ''">
  			and taskid=#{taskid}
  		</if>
  		<if test="oldtaskendstate != null and oldtaskendstate != ''">
  			and taskstate=#{oldtaskendstate}
  		</if>
  		<if test="oldfinshtaskstate != null and oldfinshtaskstate != ''">
  			and taskstate=#{oldfinshtaskstate}
  		</if>
  	</where>
  </update>
  <update id="updatedeepclick" parameterType="java.util.HashMap">
  	UPDATE t_task_info SET deepclick='0' WHERE taskid=#{taskid}
  </update>
  <delete id="deleteTaskBypk" parameterType="String">
    delete from t_task_info where taskpk in (${value})
  </delete>
</mapper>