<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.Custom.TWebInfoCustomMapper" >
 
  <select id="findWebBywebwww" resultType="com.zhenapp.po.Custom.TWebInfoCustom" parameterType="String" >
    select * from t_web_info where webwww = #{webwww,jdbcType=VARCHAR}
  </select>
  <update id="updateWebBywebwww" parameterType="com.zhenapp.po.Custom.TWebInfoCustom">
	 update t_web_info
    set webid = #{webid,jdbcType=INTEGER},
      webwww = #{webwww,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      Carousel01 = #{carousel01,jdbcType=VARCHAR},
      Carousel02 = #{carousel02,jdbcType=VARCHAR},
      Carousel03 = #{carousel03,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      bg01 = #{bg01,jdbcType=VARCHAR},
      bg02 = #{bg02,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where webwww = #{webwww,jdbcType=VARCHAR}
  </update> 
</mapper>