.koo_fromBox{}
.input15{width:18px;}.input50{width:50px;}.input100{width:100px;}.input150{width:150px;}.input200{width:200px;}.input228{width:238px;}.input240{width:240px;}.input300{width:300px;}.input400{width:400px;}.input500{width:500px;}
.form_control{height:36px;margin-top:20px;}

.form_control_t{margin-top:20px;}

.form_control.form_control_dist.clearfix {
    height: 45px;
}

li.list-unstyled {
    padding-left: 0;
    list-style: none;
}
li.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -3px;
}
li.list-inline {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}
li.error-msg {
    color: red;
}

.form_control .form_label{float:left;display:block;width:140px;text-align:right;padding-right:10px; height:36px;line-height:36px;font-size:14px;}
.form_control .form_label em{color:#f00; margin:0 3px; font-weight:bold;}
.form_control .form_input{float:left;height:34px;line-height:34px;border-top:1px solid #848484;border-left:1px solid #848484;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0; padding:0 5px; font-size:14px;}
.form_control .form_input.layDate{background:url(../image/layDate.png) right center no-repeat;cursor:pointer;}
.form_control .form_select{float:left;height:34px;line-height:34px;font-size:14px;list-style:25px;}
.form_control .form_radio{float:left;height:34px;line-height:34px;cursor:pointer;font-size:14px;}
.form_control .form_radio span{margin:0 20px 0 5px;}
.form_control .input_tip{float:left;display:block;height:36px;line-height:36px;padding-left:0px;color:#999;padding-left:10px; font-size:14px;color:#039;}
.form_control .Validform_checktip{float:left;display:block;height:36px;line-height:36px;padding-left:0px;color:#999;padding-left:10px;}
.form_control .Validform_wrong{color:#f00;background:url(../image/Validform_tipimg.gif) 15px -90px no-repeat;padding-left:35px;}
.form_control .Validform_right{color:#009f12;background:url(../image/Validform_tipimg.gif) 15px -140px no-repeat;padding-left:35px;}
.form_control .Validform_loading{background:url(../img/Validform_load.gif) 15px 9px no-repeat;color:#999;padding-left:35px;}
.form_control .form_input.Validform_error{border:1px solid #f00;color:#f00;}
.form_control .botton{ padding-left:150px;}
.form_control .form_btn{width:250px;height:34px;line-height:34px; text-align:center; background-color:#0b9492;color:#fff; border:1px solid #01706e; font-size:14px; font-weight:bold;}
.form_control .form_btn:hover{background-color:#01706e;}
.form_control .form_btn.chdbtn{width:100px;margin-left:20px;color:#eee;}
.form_control a.form_abtn{ display:block;width:180px;height:34px;line-height:34px; text-align:center; background-color:#d4004c;color:#fff; border:1px solid #a4003b; font-size:14px; font-weight:bold;}
.form_control a.form_abtn:hover{background-color:#a4003b;}
.form_control .form_btn.disabled{background-color:#ccc;border:1px solid #ccc;color:#fff; font-weight:normal;}
.form_control_t .form_label{float:left;display:block;width:140px;text-align:right;padding-right:10px; height:36px;line-height:36px;font-size:14px;}
.form_control_t .form_radio{}
.form_control_t .f_textarea{float:left;}
.form_control_t .f_textarea .form_textarea{width:450px; height:100px; padding:5px;}
.form_control_t .f_textarea .Validform_checktip{float:none;height:30px;line-height:30px;color:#999;}
.form_control_t .Validform_wrong{color:#f00;}
.form_control_t .Validform_right{color:#009f12;}
.form_control_tip{margin-top:10px; height:20px; line-height:20px;padding-left:150px;color:#666;}
.form_control_tip .getCode{color:#00f;cursor:pointer;}
.form_control_tip .disabled{color:#999;}
/*百度编辑器重复样式*/
.form_control_ueditor{margin-top:20px; margin-left:50px;}