<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.TAgentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhenapp.po.TAgentInfo" >
    <id column="agentpk" property="agentpk" jdbcType="INTEGER" />
    <result column="agentid" property="agentid" jdbcType="VARCHAR" />
    <result column="agentuserid" property="agentuserid" jdbcType="VARCHAR" />
    <result column="agentperson" property="agentperson" jdbcType="VARCHAR" />
    <result column="agentphone" property="agentphone" jdbcType="VARCHAR" />
    <result column="agentname" property="agentname" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="agentstate" property="agentstate" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    agentpk, agentid, agentuserid, agentperson, agentphone, agentname, url, agentstate, 
    createtime, createuser, updatetime, updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhenapp.po.TAgentInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_agent_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_agent_info
    where agentpk = #{agentpk,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_agent_info
    where agentpk = #{agentpk,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhenapp.po.TAgentInfoExample" >
    delete from t_agent_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhenapp.po.TAgentInfo" >
    insert into t_agent_info (agentpk, agentid, agentuserid, 
      agentperson, agentphone, agentname, 
      url, agentstate, createtime, 
      createuser, updatetime, updateuser
      )
    values (#{agentpk,jdbcType=INTEGER}, #{agentid,jdbcType=VARCHAR}, #{agentuserid,jdbcType=VARCHAR}, 
      #{agentperson,jdbcType=VARCHAR}, #{agentphone,jdbcType=VARCHAR}, #{agentname,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{agentstate,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhenapp.po.TAgentInfo" >
    insert into t_agent_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agentpk != null" >
        agentpk,
      </if>
      <if test="agentid != null" >
        agentid,
      </if>
      <if test="agentuserid != null" >
        agentuserid,
      </if>
      <if test="agentperson != null" >
        agentperson,
      </if>
      <if test="agentphone != null" >
        agentphone,
      </if>
      <if test="agentname != null" >
        agentname,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="agentstate != null" >
        agentstate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agentpk != null" >
        #{agentpk,jdbcType=INTEGER},
      </if>
      <if test="agentid != null" >
        #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="agentuserid != null" >
        #{agentuserid,jdbcType=VARCHAR},
      </if>
      <if test="agentperson != null" >
        #{agentperson,jdbcType=VARCHAR},
      </if>
      <if test="agentphone != null" >
        #{agentphone,jdbcType=VARCHAR},
      </if>
      <if test="agentname != null" >
        #{agentname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="agentstate != null" >
        #{agentstate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhenapp.po.TAgentInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_agent_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_agent_info
    <set >
      <if test="record.agentpk != null" >
        agentpk = #{record.agentpk,jdbcType=INTEGER},
      </if>
      <if test="record.agentid != null" >
        agentid = #{record.agentid,jdbcType=VARCHAR},
      </if>
      <if test="record.agentuserid != null" >
        agentuserid = #{record.agentuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.agentperson != null" >
        agentperson = #{record.agentperson,jdbcType=VARCHAR},
      </if>
      <if test="record.agentphone != null" >
        agentphone = #{record.agentphone,jdbcType=VARCHAR},
      </if>
      <if test="record.agentname != null" >
        agentname = #{record.agentname,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.agentstate != null" >
        agentstate = #{record.agentstate,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_agent_info
    set agentpk = #{record.agentpk,jdbcType=INTEGER},
      agentid = #{record.agentid,jdbcType=VARCHAR},
      agentuserid = #{record.agentuserid,jdbcType=VARCHAR},
      agentperson = #{record.agentperson,jdbcType=VARCHAR},
      agentphone = #{record.agentphone,jdbcType=VARCHAR},
      agentname = #{record.agentname,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      agentstate = #{record.agentstate,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenapp.po.TAgentInfo" >
    update t_agent_info
    <set >
      <if test="agentid != null" >
        agentid = #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="agentuserid != null" >
        agentuserid = #{agentuserid,jdbcType=VARCHAR},
      </if>
      <if test="agentperson != null" >
        agentperson = #{agentperson,jdbcType=VARCHAR},
      </if>
      <if test="agentphone != null" >
        agentphone = #{agentphone,jdbcType=VARCHAR},
      </if>
      <if test="agentname != null" >
        agentname = #{agentname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="agentstate != null" >
        agentstate = #{agentstate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where agentpk = #{agentpk,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TAgentInfo" >
    update t_agent_info
    set agentid = #{agentid,jdbcType=VARCHAR},
      agentuserid = #{agentuserid,jdbcType=VARCHAR},
      agentperson = #{agentperson,jdbcType=VARCHAR},
      agentphone = #{agentphone,jdbcType=VARCHAR},
      agentname = #{agentname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      agentstate = #{agentstate,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where agentpk = #{agentpk,jdbcType=INTEGER}
  </update>
</mapper>