<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.TComboInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhenapp.po.TComboInfo" >
    <id column="combopk" property="combopk" jdbcType="INTEGER" />
    <result column="comboid" property="comboid" jdbcType="VARCHAR" />
    <result column="comboname" property="comboname" jdbcType="VARCHAR" />
    <result column="combomoney" property="combomoney" jdbcType="INTEGER" />
    <result column="combointegral" property="combointegral" jdbcType="INTEGER" />
    <result column="combogivemoney" property="combogivemoney" jdbcType="INTEGER" />
    <result column="combogiveintegral" property="combogiveintegral" jdbcType="INTEGER" />
    <result column="combodesc" property="combodesc" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    combopk, comboid, comboname, combomoney, combointegral, combogivemoney, combogiveintegral, 
    combodesc, createuser, createtime, updateuser, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhenapp.po.TComboInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_combo_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_combo_info
    where combopk = #{combopk,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_combo_info
    where combopk = #{combopk,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhenapp.po.TComboInfoExample" >
    delete from t_combo_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhenapp.po.TComboInfo" >
    insert into t_combo_info (combopk, comboid, comboname, 
      combomoney, combointegral, combogivemoney, 
      combogiveintegral, combodesc, createuser, 
      createtime, updateuser, updatetime
      )
    values (#{combopk,jdbcType=INTEGER}, #{comboid,jdbcType=VARCHAR}, #{comboname,jdbcType=VARCHAR}, 
      #{combomoney,jdbcType=INTEGER}, #{combointegral,jdbcType=INTEGER}, #{combogivemoney,jdbcType=INTEGER}, 
      #{combogiveintegral,jdbcType=INTEGER}, #{combodesc,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhenapp.po.TComboInfo" >
    insert into t_combo_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="combopk != null" >
        combopk,
      </if>
      <if test="comboid != null" >
        comboid,
      </if>
      <if test="comboname != null" >
        comboname,
      </if>
      <if test="combomoney != null" >
        combomoney,
      </if>
      <if test="combointegral != null" >
        combointegral,
      </if>
      <if test="combogivemoney != null" >
        combogivemoney,
      </if>
      <if test="combogiveintegral != null" >
        combogiveintegral,
      </if>
      <if test="combodesc != null" >
        combodesc,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="combopk != null" >
        #{combopk,jdbcType=INTEGER},
      </if>
      <if test="comboid != null" >
        #{comboid,jdbcType=VARCHAR},
      </if>
      <if test="comboname != null" >
        #{comboname,jdbcType=VARCHAR},
      </if>
      <if test="combomoney != null" >
        #{combomoney,jdbcType=INTEGER},
      </if>
      <if test="combointegral != null" >
        #{combointegral,jdbcType=INTEGER},
      </if>
      <if test="combogivemoney != null" >
        #{combogivemoney,jdbcType=INTEGER},
      </if>
      <if test="combogiveintegral != null" >
        #{combogiveintegral,jdbcType=INTEGER},
      </if>
      <if test="combodesc != null" >
        #{combodesc,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhenapp.po.TComboInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_combo_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_combo_info
    <set >
      <if test="record.combopk != null" >
        combopk = #{record.combopk,jdbcType=INTEGER},
      </if>
      <if test="record.comboid != null" >
        comboid = #{record.comboid,jdbcType=VARCHAR},
      </if>
      <if test="record.comboname != null" >
        comboname = #{record.comboname,jdbcType=VARCHAR},
      </if>
      <if test="record.combomoney != null" >
        combomoney = #{record.combomoney,jdbcType=INTEGER},
      </if>
      <if test="record.combointegral != null" >
        combointegral = #{record.combointegral,jdbcType=INTEGER},
      </if>
      <if test="record.combogivemoney != null" >
        combogivemoney = #{record.combogivemoney,jdbcType=INTEGER},
      </if>
      <if test="record.combogiveintegral != null" >
        combogiveintegral = #{record.combogiveintegral,jdbcType=INTEGER},
      </if>
      <if test="record.combodesc != null" >
        combodesc = #{record.combodesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_combo_info
    set combopk = #{record.combopk,jdbcType=INTEGER},
      comboid = #{record.comboid,jdbcType=VARCHAR},
      comboname = #{record.comboname,jdbcType=VARCHAR},
      combomoney = #{record.combomoney,jdbcType=INTEGER},
      combointegral = #{record.combointegral,jdbcType=INTEGER},
      combogivemoney = #{record.combogivemoney,jdbcType=INTEGER},
      combogiveintegral = #{record.combogiveintegral,jdbcType=INTEGER},
      combodesc = #{record.combodesc,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      updateuser = #{record.updateuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenapp.po.TComboInfo" >
    update t_combo_info
    <set >
      <if test="comboid != null" >
        comboid = #{comboid,jdbcType=VARCHAR},
      </if>
      <if test="comboname != null" >
        comboname = #{comboname,jdbcType=VARCHAR},
      </if>
      <if test="combomoney != null" >
        combomoney = #{combomoney,jdbcType=INTEGER},
      </if>
      <if test="combointegral != null" >
        combointegral = #{combointegral,jdbcType=INTEGER},
      </if>
      <if test="combogivemoney != null" >
        combogivemoney = #{combogivemoney,jdbcType=INTEGER},
      </if>
      <if test="combogiveintegral != null" >
        combogiveintegral = #{combogiveintegral,jdbcType=INTEGER},
      </if>
      <if test="combodesc != null" >
        combodesc = #{combodesc,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where combopk = #{combopk,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TComboInfo" >
    update t_combo_info
    set comboid = #{comboid,jdbcType=VARCHAR},
      comboname = #{comboname,jdbcType=VARCHAR},
      combomoney = #{combomoney,jdbcType=INTEGER},
      combointegral = #{combointegral,jdbcType=INTEGER},
      combogivemoney = #{combogivemoney,jdbcType=INTEGER},
      combogiveintegral = #{combogiveintegral,jdbcType=INTEGER},
      combodesc = #{combodesc,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where combopk = #{combopk,jdbcType=INTEGER}
  </update>
</mapper>