<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.TPriceagentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhenapp.po.TPriceagentInfo" >
    <id column="pricepk" property="pricepk" jdbcType="INTEGER" />
    <result column="priceid" property="priceid" jdbcType="VARCHAR" />
    <result column="agentid" property="agentid" jdbcType="VARCHAR" />
    <result column="pricetype1" property="pricetype1" jdbcType="VARCHAR" />
    <result column="pricecode1" property="pricecode1" jdbcType="VARCHAR" />
    <result column="pricecounts1" property="pricecounts1" jdbcType="VARCHAR" />
    <result column="pricetype2" property="pricetype2" jdbcType="VARCHAR" />
    <result column="pricecode2" property="pricecode2" jdbcType="VARCHAR" />
    <result column="pricecounts2" property="pricecounts2" jdbcType="VARCHAR" />
    <result column="pricetype3" property="pricetype3" jdbcType="VARCHAR" />
    <result column="pricecode3" property="pricecode3" jdbcType="VARCHAR" />
    <result column="pricecounts3" property="pricecounts3" jdbcType="VARCHAR" />
    <result column="pricetype4" property="pricetype4" jdbcType="VARCHAR" />
    <result column="pricecode4" property="pricecode4" jdbcType="VARCHAR" />
    <result column="pricecounts4" property="pricecounts4" jdbcType="VARCHAR" />
    <result column="pricetype5" property="pricetype5" jdbcType="VARCHAR" />
    <result column="pricecode5" property="pricecode5" jdbcType="VARCHAR" />
    <result column="pricecounts5" property="pricecounts5" jdbcType="VARCHAR" />
    <result column="pricetype6" property="pricetype6" jdbcType="VARCHAR" />
    <result column="pricecode6" property="pricecode6" jdbcType="VARCHAR" />
    <result column="pricecounts6" property="pricecounts6" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pricepk, priceid, agentid, pricetype1, pricecode1, pricecounts1, pricetype2, pricecode2, 
    pricecounts2, pricetype3, pricecode3, pricecounts3, pricetype4, pricecode4, pricecounts4, 
    pricetype5, pricecode5, pricecounts5, pricetype6, pricecode6, pricecounts6, createtime, 
    createuser, updatetime, updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhenapp.po.TPriceagentInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_priceagent_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_priceagent_info
    where pricepk = #{pricepk,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_priceagent_info
    where pricepk = #{pricepk,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhenapp.po.TPriceagentInfoExample" >
    delete from t_priceagent_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhenapp.po.TPriceagentInfo" >
    insert into t_priceagent_info (pricepk, priceid, agentid, 
      pricetype1, pricecode1, pricecounts1, 
      pricetype2, pricecode2, pricecounts2, 
      pricetype3, pricecode3, pricecounts3, 
      pricetype4, pricecode4, pricecounts4, 
      pricetype5, pricecode5, pricecounts5, 
      pricetype6, pricecode6, pricecounts6, 
      createtime, createuser, updatetime, 
      updateuser)
    values (#{pricepk,jdbcType=INTEGER}, #{priceid,jdbcType=VARCHAR}, #{agentid,jdbcType=VARCHAR}, 
      #{pricetype1,jdbcType=VARCHAR}, #{pricecode1,jdbcType=VARCHAR}, #{pricecounts1,jdbcType=VARCHAR}, 
      #{pricetype2,jdbcType=VARCHAR}, #{pricecode2,jdbcType=VARCHAR}, #{pricecounts2,jdbcType=VARCHAR}, 
      #{pricetype3,jdbcType=VARCHAR}, #{pricecode3,jdbcType=VARCHAR}, #{pricecounts3,jdbcType=VARCHAR}, 
      #{pricetype4,jdbcType=VARCHAR}, #{pricecode4,jdbcType=VARCHAR}, #{pricecounts4,jdbcType=VARCHAR}, 
      #{pricetype5,jdbcType=VARCHAR}, #{pricecode5,jdbcType=VARCHAR}, #{pricecounts5,jdbcType=VARCHAR}, 
      #{pricetype6,jdbcType=VARCHAR}, #{pricecode6,jdbcType=VARCHAR}, #{pricecounts6,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhenapp.po.TPriceagentInfo" >
    insert into t_priceagent_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pricepk != null" >
        pricepk,
      </if>
      <if test="priceid != null" >
        priceid,
      </if>
      <if test="agentid != null" >
        agentid,
      </if>
      <if test="pricetype1 != null" >
        pricetype1,
      </if>
      <if test="pricecode1 != null" >
        pricecode1,
      </if>
      <if test="pricecounts1 != null" >
        pricecounts1,
      </if>
      <if test="pricetype2 != null" >
        pricetype2,
      </if>
      <if test="pricecode2 != null" >
        pricecode2,
      </if>
      <if test="pricecounts2 != null" >
        pricecounts2,
      </if>
      <if test="pricetype3 != null" >
        pricetype3,
      </if>
      <if test="pricecode3 != null" >
        pricecode3,
      </if>
      <if test="pricecounts3 != null" >
        pricecounts3,
      </if>
      <if test="pricetype4 != null" >
        pricetype4,
      </if>
      <if test="pricecode4 != null" >
        pricecode4,
      </if>
      <if test="pricecounts4 != null" >
        pricecounts4,
      </if>
      <if test="pricetype5 != null" >
        pricetype5,
      </if>
      <if test="pricecode5 != null" >
        pricecode5,
      </if>
      <if test="pricecounts5 != null" >
        pricecounts5,
      </if>
      <if test="pricetype6 != null" >
        pricetype6,
      </if>
      <if test="pricecode6 != null" >
        pricecode6,
      </if>
      <if test="pricecounts6 != null" >
        pricecounts6,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pricepk != null" >
        #{pricepk,jdbcType=INTEGER},
      </if>
      <if test="priceid != null" >
        #{priceid,jdbcType=VARCHAR},
      </if>
      <if test="agentid != null" >
        #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="pricetype1 != null" >
        #{pricetype1,jdbcType=VARCHAR},
      </if>
      <if test="pricecode1 != null" >
        #{pricecode1,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts1 != null" >
        #{pricecounts1,jdbcType=VARCHAR},
      </if>
      <if test="pricetype2 != null" >
        #{pricetype2,jdbcType=VARCHAR},
      </if>
      <if test="pricecode2 != null" >
        #{pricecode2,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts2 != null" >
        #{pricecounts2,jdbcType=VARCHAR},
      </if>
      <if test="pricetype3 != null" >
        #{pricetype3,jdbcType=VARCHAR},
      </if>
      <if test="pricecode3 != null" >
        #{pricecode3,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts3 != null" >
        #{pricecounts3,jdbcType=VARCHAR},
      </if>
      <if test="pricetype4 != null" >
        #{pricetype4,jdbcType=VARCHAR},
      </if>
      <if test="pricecode4 != null" >
        #{pricecode4,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts4 != null" >
        #{pricecounts4,jdbcType=VARCHAR},
      </if>
      <if test="pricetype5 != null" >
        #{pricetype5,jdbcType=VARCHAR},
      </if>
      <if test="pricecode5 != null" >
        #{pricecode5,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts5 != null" >
        #{pricecounts5,jdbcType=VARCHAR},
      </if>
      <if test="pricetype6 != null" >
        #{pricetype6,jdbcType=VARCHAR},
      </if>
      <if test="pricecode6 != null" >
        #{pricecode6,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts6 != null" >
        #{pricecounts6,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhenapp.po.TPriceagentInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_priceagent_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_priceagent_info
    <set >
      <if test="record.pricepk != null" >
        pricepk = #{record.pricepk,jdbcType=INTEGER},
      </if>
      <if test="record.priceid != null" >
        priceid = #{record.priceid,jdbcType=VARCHAR},
      </if>
      <if test="record.agentid != null" >
        agentid = #{record.agentid,jdbcType=VARCHAR},
      </if>
      <if test="record.pricetype1 != null" >
        pricetype1 = #{record.pricetype1,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecode1 != null" >
        pricecode1 = #{record.pricecode1,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecounts1 != null" >
        pricecounts1 = #{record.pricecounts1,jdbcType=VARCHAR},
      </if>
      <if test="record.pricetype2 != null" >
        pricetype2 = #{record.pricetype2,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecode2 != null" >
        pricecode2 = #{record.pricecode2,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecounts2 != null" >
        pricecounts2 = #{record.pricecounts2,jdbcType=VARCHAR},
      </if>
      <if test="record.pricetype3 != null" >
        pricetype3 = #{record.pricetype3,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecode3 != null" >
        pricecode3 = #{record.pricecode3,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecounts3 != null" >
        pricecounts3 = #{record.pricecounts3,jdbcType=VARCHAR},
      </if>
      <if test="record.pricetype4 != null" >
        pricetype4 = #{record.pricetype4,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecode4 != null" >
        pricecode4 = #{record.pricecode4,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecounts4 != null" >
        pricecounts4 = #{record.pricecounts4,jdbcType=VARCHAR},
      </if>
      <if test="record.pricetype5 != null" >
        pricetype5 = #{record.pricetype5,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecode5 != null" >
        pricecode5 = #{record.pricecode5,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecounts5 != null" >
        pricecounts5 = #{record.pricecounts5,jdbcType=VARCHAR},
      </if>
      <if test="record.pricetype6 != null" >
        pricetype6 = #{record.pricetype6,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecode6 != null" >
        pricecode6 = #{record.pricecode6,jdbcType=VARCHAR},
      </if>
      <if test="record.pricecounts6 != null" >
        pricecounts6 = #{record.pricecounts6,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_priceagent_info
    set pricepk = #{record.pricepk,jdbcType=INTEGER},
      priceid = #{record.priceid,jdbcType=VARCHAR},
      agentid = #{record.agentid,jdbcType=VARCHAR},
      pricetype1 = #{record.pricetype1,jdbcType=VARCHAR},
      pricecode1 = #{record.pricecode1,jdbcType=VARCHAR},
      pricecounts1 = #{record.pricecounts1,jdbcType=VARCHAR},
      pricetype2 = #{record.pricetype2,jdbcType=VARCHAR},
      pricecode2 = #{record.pricecode2,jdbcType=VARCHAR},
      pricecounts2 = #{record.pricecounts2,jdbcType=VARCHAR},
      pricetype3 = #{record.pricetype3,jdbcType=VARCHAR},
      pricecode3 = #{record.pricecode3,jdbcType=VARCHAR},
      pricecounts3 = #{record.pricecounts3,jdbcType=VARCHAR},
      pricetype4 = #{record.pricetype4,jdbcType=VARCHAR},
      pricecode4 = #{record.pricecode4,jdbcType=VARCHAR},
      pricecounts4 = #{record.pricecounts4,jdbcType=VARCHAR},
      pricetype5 = #{record.pricetype5,jdbcType=VARCHAR},
      pricecode5 = #{record.pricecode5,jdbcType=VARCHAR},
      pricecounts5 = #{record.pricecounts5,jdbcType=VARCHAR},
      pricetype6 = #{record.pricetype6,jdbcType=VARCHAR},
      pricecode6 = #{record.pricecode6,jdbcType=VARCHAR},
      pricecounts6 = #{record.pricecounts6,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenapp.po.TPriceagentInfo" >
    update t_priceagent_info
    <set >
      <if test="priceid != null" >
        priceid = #{priceid,jdbcType=VARCHAR},
      </if>
      <if test="agentid != null" >
        agentid = #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="pricetype1 != null" >
        pricetype1 = #{pricetype1,jdbcType=VARCHAR},
      </if>
      <if test="pricecode1 != null" >
        pricecode1 = #{pricecode1,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts1 != null" >
        pricecounts1 = #{pricecounts1,jdbcType=VARCHAR},
      </if>
      <if test="pricetype2 != null" >
        pricetype2 = #{pricetype2,jdbcType=VARCHAR},
      </if>
      <if test="pricecode2 != null" >
        pricecode2 = #{pricecode2,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts2 != null" >
        pricecounts2 = #{pricecounts2,jdbcType=VARCHAR},
      </if>
      <if test="pricetype3 != null" >
        pricetype3 = #{pricetype3,jdbcType=VARCHAR},
      </if>
      <if test="pricecode3 != null" >
        pricecode3 = #{pricecode3,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts3 != null" >
        pricecounts3 = #{pricecounts3,jdbcType=VARCHAR},
      </if>
      <if test="pricetype4 != null" >
        pricetype4 = #{pricetype4,jdbcType=VARCHAR},
      </if>
      <if test="pricecode4 != null" >
        pricecode4 = #{pricecode4,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts4 != null" >
        pricecounts4 = #{pricecounts4,jdbcType=VARCHAR},
      </if>
      <if test="pricetype5 != null" >
        pricetype5 = #{pricetype5,jdbcType=VARCHAR},
      </if>
      <if test="pricecode5 != null" >
        pricecode5 = #{pricecode5,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts5 != null" >
        pricecounts5 = #{pricecounts5,jdbcType=VARCHAR},
      </if>
      <if test="pricetype6 != null" >
        pricetype6 = #{pricetype6,jdbcType=VARCHAR},
      </if>
      <if test="pricecode6 != null" >
        pricecode6 = #{pricecode6,jdbcType=VARCHAR},
      </if>
      <if test="pricecounts6 != null" >
        pricecounts6 = #{pricecounts6,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where pricepk = #{pricepk,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TPriceagentInfo" >
    update t_priceagent_info
    set priceid = #{priceid,jdbcType=VARCHAR},
      agentid = #{agentid,jdbcType=VARCHAR},
      pricetype1 = #{pricetype1,jdbcType=VARCHAR},
      pricecode1 = #{pricecode1,jdbcType=VARCHAR},
      pricecounts1 = #{pricecounts1,jdbcType=VARCHAR},
      pricetype2 = #{pricetype2,jdbcType=VARCHAR},
      pricecode2 = #{pricecode2,jdbcType=VARCHAR},
      pricecounts2 = #{pricecounts2,jdbcType=VARCHAR},
      pricetype3 = #{pricetype3,jdbcType=VARCHAR},
      pricecode3 = #{pricecode3,jdbcType=VARCHAR},
      pricecounts3 = #{pricecounts3,jdbcType=VARCHAR},
      pricetype4 = #{pricetype4,jdbcType=VARCHAR},
      pricecode4 = #{pricecode4,jdbcType=VARCHAR},
      pricecounts4 = #{pricecounts4,jdbcType=VARCHAR},
      pricetype5 = #{pricetype5,jdbcType=VARCHAR},
      pricecode5 = #{pricecode5,jdbcType=VARCHAR},
      pricecounts5 = #{pricecounts5,jdbcType=VARCHAR},
      pricetype6 = #{pricetype6,jdbcType=VARCHAR},
      pricecode6 = #{pricecode6,jdbcType=VARCHAR},
      pricecounts6 = #{pricecounts6,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where pricepk = #{pricepk,jdbcType=INTEGER}
  </update>
</mapper>