<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.TSysconfInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhenapp.po.TSysconfInfo" >
    <id column="sysconfpk" property="sysconfpk" jdbcType="INTEGER" />
    <result column="sysconfid" property="sysconfid" jdbcType="VARCHAR" />
    <result column="sysconfcode1" property="sysconfcode1" jdbcType="VARCHAR" />
    <result column="sysconfname1" property="sysconfname1" jdbcType="VARCHAR" />
    <result column="sysconfvalue1" property="sysconfvalue1" jdbcType="VARCHAR" />
    <result column="sysconfcode2" property="sysconfcode2" jdbcType="VARCHAR" />
    <result column="sysconfname2" property="sysconfname2" jdbcType="VARCHAR" />
    <result column="sysconfvalue2" property="sysconfvalue2" jdbcType="VARCHAR" />
    <result column="sysconfcode4" property="sysconfcode4" jdbcType="VARCHAR" />
    <result column="sysconfname4" property="sysconfname4" jdbcType="VARCHAR" />
    <result column="sysconfvalue4" property="sysconfvalue4" jdbcType="VARCHAR" />
    <result column="sysconfcode5" property="sysconfcode5" jdbcType="VARCHAR" />
    <result column="sysconfname5" property="sysconfname5" jdbcType="VARCHAR" />
    <result column="sysconfvalue5" property="sysconfvalue5" jdbcType="VARCHAR" />
    <result column="sysconfcode6" property="sysconfcode6" jdbcType="VARCHAR" />
    <result column="sysconfname6" property="sysconfname6" jdbcType="VARCHAR" />
    <result column="sysconfvalue6" property="sysconfvalue6" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sysconfpk, sysconfid, sysconfcode1, sysconfname1, sysconfvalue1, sysconfcode2, sysconfname2, 
    sysconfvalue2, sysconfcode4, sysconfname4, sysconfvalue4, sysconfcode5, sysconfname5, 
    sysconfvalue5, sysconfcode6, sysconfname6, sysconfvalue6, createtime, createuser, 
    updatetime, updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhenapp.po.TSysconfInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sysconf_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sysconf_info
    where sysconfpk = #{sysconfpk,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sysconf_info
    where sysconfpk = #{sysconfpk,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhenapp.po.TSysconfInfoExample" >
    delete from t_sysconf_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhenapp.po.TSysconfInfo" >
    insert into t_sysconf_info (sysconfpk, sysconfid, sysconfcode1, 
      sysconfname1, sysconfvalue1, sysconfcode2, 
      sysconfname2, sysconfvalue2, sysconfcode4, 
      sysconfname4, sysconfvalue4, sysconfcode5, 
      sysconfname5, sysconfvalue5, sysconfcode6, 
      sysconfname6, sysconfvalue6, createtime, 
      createuser, updatetime, updateuser
      )
    values (#{sysconfpk,jdbcType=INTEGER}, #{sysconfid,jdbcType=VARCHAR}, #{sysconfcode1,jdbcType=VARCHAR}, 
      #{sysconfname1,jdbcType=VARCHAR}, #{sysconfvalue1,jdbcType=VARCHAR}, #{sysconfcode2,jdbcType=VARCHAR}, 
      #{sysconfname2,jdbcType=VARCHAR}, #{sysconfvalue2,jdbcType=VARCHAR}, #{sysconfcode4,jdbcType=VARCHAR}, 
      #{sysconfname4,jdbcType=VARCHAR}, #{sysconfvalue4,jdbcType=VARCHAR}, #{sysconfcode5,jdbcType=VARCHAR}, 
      #{sysconfname5,jdbcType=VARCHAR}, #{sysconfvalue5,jdbcType=VARCHAR}, #{sysconfcode6,jdbcType=VARCHAR}, 
      #{sysconfname6,jdbcType=VARCHAR}, #{sysconfvalue6,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhenapp.po.TSysconfInfo" >
    insert into t_sysconf_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysconfpk != null" >
        sysconfpk,
      </if>
      <if test="sysconfid != null" >
        sysconfid,
      </if>
      <if test="sysconfcode1 != null" >
        sysconfcode1,
      </if>
      <if test="sysconfname1 != null" >
        sysconfname1,
      </if>
      <if test="sysconfvalue1 != null" >
        sysconfvalue1,
      </if>
      <if test="sysconfcode2 != null" >
        sysconfcode2,
      </if>
      <if test="sysconfname2 != null" >
        sysconfname2,
      </if>
      <if test="sysconfvalue2 != null" >
        sysconfvalue2,
      </if>
      <if test="sysconfcode4 != null" >
        sysconfcode4,
      </if>
      <if test="sysconfname4 != null" >
        sysconfname4,
      </if>
      <if test="sysconfvalue4 != null" >
        sysconfvalue4,
      </if>
      <if test="sysconfcode5 != null" >
        sysconfcode5,
      </if>
      <if test="sysconfname5 != null" >
        sysconfname5,
      </if>
      <if test="sysconfvalue5 != null" >
        sysconfvalue5,
      </if>
      <if test="sysconfcode6 != null" >
        sysconfcode6,
      </if>
      <if test="sysconfname6 != null" >
        sysconfname6,
      </if>
      <if test="sysconfvalue6 != null" >
        sysconfvalue6,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysconfpk != null" >
        #{sysconfpk,jdbcType=INTEGER},
      </if>
      <if test="sysconfid != null" >
        #{sysconfid,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode1 != null" >
        #{sysconfcode1,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname1 != null" >
        #{sysconfname1,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue1 != null" >
        #{sysconfvalue1,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode2 != null" >
        #{sysconfcode2,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname2 != null" >
        #{sysconfname2,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue2 != null" >
        #{sysconfvalue2,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode4 != null" >
        #{sysconfcode4,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname4 != null" >
        #{sysconfname4,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue4 != null" >
        #{sysconfvalue4,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode5 != null" >
        #{sysconfcode5,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname5 != null" >
        #{sysconfname5,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue5 != null" >
        #{sysconfvalue5,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode6 != null" >
        #{sysconfcode6,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname6 != null" >
        #{sysconfname6,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue6 != null" >
        #{sysconfvalue6,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhenapp.po.TSysconfInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_sysconf_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sysconf_info
    <set >
      <if test="record.sysconfpk != null" >
        sysconfpk = #{record.sysconfpk,jdbcType=INTEGER},
      </if>
      <if test="record.sysconfid != null" >
        sysconfid = #{record.sysconfid,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfcode1 != null" >
        sysconfcode1 = #{record.sysconfcode1,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfname1 != null" >
        sysconfname1 = #{record.sysconfname1,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfvalue1 != null" >
        sysconfvalue1 = #{record.sysconfvalue1,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfcode2 != null" >
        sysconfcode2 = #{record.sysconfcode2,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfname2 != null" >
        sysconfname2 = #{record.sysconfname2,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfvalue2 != null" >
        sysconfvalue2 = #{record.sysconfvalue2,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfcode4 != null" >
        sysconfcode4 = #{record.sysconfcode4,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfname4 != null" >
        sysconfname4 = #{record.sysconfname4,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfvalue4 != null" >
        sysconfvalue4 = #{record.sysconfvalue4,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfcode5 != null" >
        sysconfcode5 = #{record.sysconfcode5,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfname5 != null" >
        sysconfname5 = #{record.sysconfname5,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfvalue5 != null" >
        sysconfvalue5 = #{record.sysconfvalue5,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfcode6 != null" >
        sysconfcode6 = #{record.sysconfcode6,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfname6 != null" >
        sysconfname6 = #{record.sysconfname6,jdbcType=VARCHAR},
      </if>
      <if test="record.sysconfvalue6 != null" >
        sysconfvalue6 = #{record.sysconfvalue6,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sysconf_info
    set sysconfpk = #{record.sysconfpk,jdbcType=INTEGER},
      sysconfid = #{record.sysconfid,jdbcType=VARCHAR},
      sysconfcode1 = #{record.sysconfcode1,jdbcType=VARCHAR},
      sysconfname1 = #{record.sysconfname1,jdbcType=VARCHAR},
      sysconfvalue1 = #{record.sysconfvalue1,jdbcType=VARCHAR},
      sysconfcode2 = #{record.sysconfcode2,jdbcType=VARCHAR},
      sysconfname2 = #{record.sysconfname2,jdbcType=VARCHAR},
      sysconfvalue2 = #{record.sysconfvalue2,jdbcType=VARCHAR},
      sysconfcode4 = #{record.sysconfcode4,jdbcType=VARCHAR},
      sysconfname4 = #{record.sysconfname4,jdbcType=VARCHAR},
      sysconfvalue4 = #{record.sysconfvalue4,jdbcType=VARCHAR},
      sysconfcode5 = #{record.sysconfcode5,jdbcType=VARCHAR},
      sysconfname5 = #{record.sysconfname5,jdbcType=VARCHAR},
      sysconfvalue5 = #{record.sysconfvalue5,jdbcType=VARCHAR},
      sysconfcode6 = #{record.sysconfcode6,jdbcType=VARCHAR},
      sysconfname6 = #{record.sysconfname6,jdbcType=VARCHAR},
      sysconfvalue6 = #{record.sysconfvalue6,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenapp.po.TSysconfInfo" >
    update t_sysconf_info
    <set >
      <if test="sysconfid != null" >
        sysconfid = #{sysconfid,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode1 != null" >
        sysconfcode1 = #{sysconfcode1,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname1 != null" >
        sysconfname1 = #{sysconfname1,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue1 != null" >
        sysconfvalue1 = #{sysconfvalue1,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode2 != null" >
        sysconfcode2 = #{sysconfcode2,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname2 != null" >
        sysconfname2 = #{sysconfname2,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue2 != null" >
        sysconfvalue2 = #{sysconfvalue2,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode4 != null" >
        sysconfcode4 = #{sysconfcode4,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname4 != null" >
        sysconfname4 = #{sysconfname4,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue4 != null" >
        sysconfvalue4 = #{sysconfvalue4,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode5 != null" >
        sysconfcode5 = #{sysconfcode5,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname5 != null" >
        sysconfname5 = #{sysconfname5,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue5 != null" >
        sysconfvalue5 = #{sysconfvalue5,jdbcType=VARCHAR},
      </if>
      <if test="sysconfcode6 != null" >
        sysconfcode6 = #{sysconfcode6,jdbcType=VARCHAR},
      </if>
      <if test="sysconfname6 != null" >
        sysconfname6 = #{sysconfname6,jdbcType=VARCHAR},
      </if>
      <if test="sysconfvalue6 != null" >
        sysconfvalue6 = #{sysconfvalue6,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where sysconfpk = #{sysconfpk,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TSysconfInfo" >
    update t_sysconf_info
    set sysconfid = #{sysconfid,jdbcType=VARCHAR},
      sysconfcode1 = #{sysconfcode1,jdbcType=VARCHAR},
      sysconfname1 = #{sysconfname1,jdbcType=VARCHAR},
      sysconfvalue1 = #{sysconfvalue1,jdbcType=VARCHAR},
      sysconfcode2 = #{sysconfcode2,jdbcType=VARCHAR},
      sysconfname2 = #{sysconfname2,jdbcType=VARCHAR},
      sysconfvalue2 = #{sysconfvalue2,jdbcType=VARCHAR},
      sysconfcode4 = #{sysconfcode4,jdbcType=VARCHAR},
      sysconfname4 = #{sysconfname4,jdbcType=VARCHAR},
      sysconfvalue4 = #{sysconfvalue4,jdbcType=VARCHAR},
      sysconfcode5 = #{sysconfcode5,jdbcType=VARCHAR},
      sysconfname5 = #{sysconfname5,jdbcType=VARCHAR},
      sysconfvalue5 = #{sysconfvalue5,jdbcType=VARCHAR},
      sysconfcode6 = #{sysconfcode6,jdbcType=VARCHAR},
      sysconfname6 = #{sysconfname6,jdbcType=VARCHAR},
      sysconfvalue6 = #{sysconfvalue6,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where sysconfpk = #{sysconfpk,jdbcType=INTEGER}
  </update>
</mapper>