<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.TTaskDetailinfoFlowMapper" >
  <resultMap id="BaseResultMap" type="com.zhenapp.po.TTaskDetailinfoFlow" >
    <id column="taskdetailpk" property="taskdetailpk" jdbcType="INTEGER" />
    <result column="taskdetailid" property="taskdetailid" jdbcType="VARCHAR" />
    <result column="taskid" property="taskid" jdbcType="VARCHAR" />
    <result column="taskkeyword" property="taskkeyword" jdbcType="VARCHAR" />
    <result column="taskhourcounts" property="taskhourcounts" jdbcType="VARCHAR" />
    <result column="searchtype" property="searchtype" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="isfreeship" property="isfreeship" jdbcType="VARCHAR" />
    <result column="istmall" property="istmall" jdbcType="VARCHAR" />
    <result column="taskkeynum" property="taskkeynum" jdbcType="VARCHAR" />
    <result column="taskurl" property="taskurl" jdbcType="VARCHAR" />
    <result column="minpicture" property="minpicture" jdbcType="VARCHAR" />
    <result column="maxpicture" property="maxpicture" jdbcType="VARCHAR" />
    <result column="tasktype" property="tasktype" jdbcType="VARCHAR" />
    <result column="deepclick" property="deepclick" jdbcType="VARCHAR" />
    <result column="isflow" property="isflow" jdbcType="VARCHAR" />
    <result column="iscreativetitle" property="iscreativetitle" jdbcType="VARCHAR" />
    <result column="taskstate" property="taskstate" jdbcType="VARCHAR" />
    <result column="taskdate" property="taskdate" jdbcType="VARCHAR" />
    <result column="finishcount" property="finishcount" jdbcType="INTEGER" />
    <result column="errorcount" property="errorcount" jdbcType="INTEGER" />
    <result column="subtractpoints" property="subtractpoints" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    taskdetailpk, taskdetailid, taskid, taskkeyword, taskhourcounts, searchtype, price, 
    region, isfreeship, istmall, taskkeynum, taskurl, minpicture, maxpicture, tasktype, 
    deepclick, isflow, iscreativetitle, taskstate, taskdate, finishcount, errorcount, 
    subtractpoints, createtime, createuser, updatetime, updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhenapp.po.TTaskDetailinfoFlowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_task_detailinfo_flow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_task_detailinfo_flow
    where taskdetailpk = #{taskdetailpk,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_task_detailinfo_flow
    where taskdetailpk = #{taskdetailpk,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhenapp.po.TTaskDetailinfoFlowExample" >
    delete from t_task_detailinfo_flow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhenapp.po.TTaskDetailinfoFlow" >
    insert into t_task_detailinfo_flow (taskdetailpk, taskdetailid, taskid, 
      taskkeyword, taskhourcounts, searchtype, 
      price, region, isfreeship, 
      istmall, taskkeynum, taskurl, 
      minpicture, maxpicture, tasktype, 
      deepclick, isflow, iscreativetitle, 
      taskstate, taskdate, finishcount, 
      errorcount, subtractpoints, createtime, 
      createuser, updatetime, updateuser
      )
    values (#{taskdetailpk,jdbcType=INTEGER}, #{taskdetailid,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, 
      #{taskkeyword,jdbcType=VARCHAR}, #{taskhourcounts,jdbcType=VARCHAR}, #{searchtype,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{isfreeship,jdbcType=VARCHAR}, 
      #{istmall,jdbcType=VARCHAR}, #{taskkeynum,jdbcType=VARCHAR}, #{taskurl,jdbcType=VARCHAR}, 
      #{minpicture,jdbcType=VARCHAR}, #{maxpicture,jdbcType=VARCHAR}, #{tasktype,jdbcType=VARCHAR}, 
      #{deepclick,jdbcType=VARCHAR}, #{isflow,jdbcType=VARCHAR}, #{iscreativetitle,jdbcType=VARCHAR}, 
      #{taskstate,jdbcType=VARCHAR}, #{taskdate,jdbcType=VARCHAR}, #{finishcount,jdbcType=INTEGER}, 
      #{errorcount,jdbcType=INTEGER}, #{subtractpoints,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhenapp.po.TTaskDetailinfoFlow" >
    insert into t_task_detailinfo_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskdetailpk != null" >
        taskdetailpk,
      </if>
      <if test="taskdetailid != null" >
        taskdetailid,
      </if>
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="taskkeyword != null" >
        taskkeyword,
      </if>
      <if test="taskhourcounts != null" >
        taskhourcounts,
      </if>
      <if test="searchtype != null" >
        searchtype,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="isfreeship != null" >
        isfreeship,
      </if>
      <if test="istmall != null" >
        istmall,
      </if>
      <if test="taskkeynum != null" >
        taskkeynum,
      </if>
      <if test="taskurl != null" >
        taskurl,
      </if>
      <if test="minpicture != null" >
        minpicture,
      </if>
      <if test="maxpicture != null" >
        maxpicture,
      </if>
      <if test="tasktype != null" >
        tasktype,
      </if>
      <if test="deepclick != null" >
        deepclick,
      </if>
      <if test="isflow != null" >
        isflow,
      </if>
      <if test="iscreativetitle != null" >
        iscreativetitle,
      </if>
      <if test="taskstate != null" >
        taskstate,
      </if>
      <if test="taskdate != null" >
        taskdate,
      </if>
      <if test="finishcount != null" >
        finishcount,
      </if>
      <if test="errorcount != null" >
        errorcount,
      </if>
      <if test="subtractpoints != null" >
        subtractpoints,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskdetailpk != null" >
        #{taskdetailpk,jdbcType=INTEGER},
      </if>
      <if test="taskdetailid != null" >
        #{taskdetailid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="taskkeyword != null" >
        #{taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="taskhourcounts != null" >
        #{taskhourcounts,jdbcType=VARCHAR},
      </if>
      <if test="searchtype != null" >
        #{searchtype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="isfreeship != null" >
        #{isfreeship,jdbcType=VARCHAR},
      </if>
      <if test="istmall != null" >
        #{istmall,jdbcType=VARCHAR},
      </if>
      <if test="taskkeynum != null" >
        #{taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="taskurl != null" >
        #{taskurl,jdbcType=VARCHAR},
      </if>
      <if test="minpicture != null" >
        #{minpicture,jdbcType=VARCHAR},
      </if>
      <if test="maxpicture != null" >
        #{maxpicture,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="deepclick != null" >
        #{deepclick,jdbcType=VARCHAR},
      </if>
      <if test="isflow != null" >
        #{isflow,jdbcType=VARCHAR},
      </if>
      <if test="iscreativetitle != null" >
        #{iscreativetitle,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="taskdate != null" >
        #{taskdate,jdbcType=VARCHAR},
      </if>
      <if test="finishcount != null" >
        #{finishcount,jdbcType=INTEGER},
      </if>
      <if test="errorcount != null" >
        #{errorcount,jdbcType=INTEGER},
      </if>
      <if test="subtractpoints != null" >
        #{subtractpoints,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhenapp.po.TTaskDetailinfoFlowExample" resultType="java.lang.Integer" >
    select count(*) from t_task_detailinfo_flow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_task_detailinfo_flow
    <set >
      <if test="record.taskdetailpk != null" >
        taskdetailpk = #{record.taskdetailpk,jdbcType=INTEGER},
      </if>
      <if test="record.taskdetailid != null" >
        taskdetailid = #{record.taskdetailid,jdbcType=VARCHAR},
      </if>
      <if test="record.taskid != null" >
        taskid = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.taskkeyword != null" >
        taskkeyword = #{record.taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.taskhourcounts != null" >
        taskhourcounts = #{record.taskhourcounts,jdbcType=VARCHAR},
      </if>
      <if test="record.searchtype != null" >
        searchtype = #{record.searchtype,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        region = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.isfreeship != null" >
        isfreeship = #{record.isfreeship,jdbcType=VARCHAR},
      </if>
      <if test="record.istmall != null" >
        istmall = #{record.istmall,jdbcType=VARCHAR},
      </if>
      <if test="record.taskkeynum != null" >
        taskkeynum = #{record.taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="record.taskurl != null" >
        taskurl = #{record.taskurl,jdbcType=VARCHAR},
      </if>
      <if test="record.minpicture != null" >
        minpicture = #{record.minpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.maxpicture != null" >
        maxpicture = #{record.maxpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.tasktype != null" >
        tasktype = #{record.tasktype,jdbcType=VARCHAR},
      </if>
      <if test="record.deepclick != null" >
        deepclick = #{record.deepclick,jdbcType=VARCHAR},
      </if>
      <if test="record.isflow != null" >
        isflow = #{record.isflow,jdbcType=VARCHAR},
      </if>
      <if test="record.iscreativetitle != null" >
        iscreativetitle = #{record.iscreativetitle,jdbcType=VARCHAR},
      </if>
      <if test="record.taskstate != null" >
        taskstate = #{record.taskstate,jdbcType=VARCHAR},
      </if>
      <if test="record.taskdate != null" >
        taskdate = #{record.taskdate,jdbcType=VARCHAR},
      </if>
      <if test="record.finishcount != null" >
        finishcount = #{record.finishcount,jdbcType=INTEGER},
      </if>
      <if test="record.errorcount != null" >
        errorcount = #{record.errorcount,jdbcType=INTEGER},
      </if>
      <if test="record.subtractpoints != null" >
        subtractpoints = #{record.subtractpoints,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_task_detailinfo_flow
    set taskdetailpk = #{record.taskdetailpk,jdbcType=INTEGER},
      taskdetailid = #{record.taskdetailid,jdbcType=VARCHAR},
      taskid = #{record.taskid,jdbcType=VARCHAR},
      taskkeyword = #{record.taskkeyword,jdbcType=VARCHAR},
      taskhourcounts = #{record.taskhourcounts,jdbcType=VARCHAR},
      searchtype = #{record.searchtype,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      isfreeship = #{record.isfreeship,jdbcType=VARCHAR},
      istmall = #{record.istmall,jdbcType=VARCHAR},
      taskkeynum = #{record.taskkeynum,jdbcType=VARCHAR},
      taskurl = #{record.taskurl,jdbcType=VARCHAR},
      minpicture = #{record.minpicture,jdbcType=VARCHAR},
      maxpicture = #{record.maxpicture,jdbcType=VARCHAR},
      tasktype = #{record.tasktype,jdbcType=VARCHAR},
      deepclick = #{record.deepclick,jdbcType=VARCHAR},
      isflow = #{record.isflow,jdbcType=VARCHAR},
      iscreativetitle = #{record.iscreativetitle,jdbcType=VARCHAR},
      taskstate = #{record.taskstate,jdbcType=VARCHAR},
      taskdate = #{record.taskdate,jdbcType=VARCHAR},
      finishcount = #{record.finishcount,jdbcType=INTEGER},
      errorcount = #{record.errorcount,jdbcType=INTEGER},
      subtractpoints = #{record.subtractpoints,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenapp.po.TTaskDetailinfoFlow" >
    update t_task_detailinfo_flow
    <set >
      <if test="taskdetailid != null" >
        taskdetailid = #{taskdetailid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null" >
        taskid = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="taskkeyword != null" >
        taskkeyword = #{taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="taskhourcounts != null" >
        taskhourcounts = #{taskhourcounts,jdbcType=VARCHAR},
      </if>
      <if test="searchtype != null" >
        searchtype = #{searchtype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="isfreeship != null" >
        isfreeship = #{isfreeship,jdbcType=VARCHAR},
      </if>
      <if test="istmall != null" >
        istmall = #{istmall,jdbcType=VARCHAR},
      </if>
      <if test="taskkeynum != null" >
        taskkeynum = #{taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="taskurl != null" >
        taskurl = #{taskurl,jdbcType=VARCHAR},
      </if>
      <if test="minpicture != null" >
        minpicture = #{minpicture,jdbcType=VARCHAR},
      </if>
      <if test="maxpicture != null" >
        maxpicture = #{maxpicture,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        tasktype = #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="deepclick != null" >
        deepclick = #{deepclick,jdbcType=VARCHAR},
      </if>
      <if test="isflow != null" >
        isflow = #{isflow,jdbcType=VARCHAR},
      </if>
      <if test="iscreativetitle != null" >
        iscreativetitle = #{iscreativetitle,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        taskstate = #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="taskdate != null" >
        taskdate = #{taskdate,jdbcType=VARCHAR},
      </if>
      <if test="finishcount != null" >
        finishcount = #{finishcount,jdbcType=INTEGER},
      </if>
      <if test="errorcount != null" >
        errorcount = #{errorcount,jdbcType=INTEGER},
      </if>
      <if test="subtractpoints != null" >
        subtractpoints = #{subtractpoints,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where taskdetailpk = #{taskdetailpk,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TTaskDetailinfoFlow" >
    update t_task_detailinfo_flow
    set taskdetailid = #{taskdetailid,jdbcType=VARCHAR},
      taskid = #{taskid,jdbcType=VARCHAR},
      taskkeyword = #{taskkeyword,jdbcType=VARCHAR},
      taskhourcounts = #{taskhourcounts,jdbcType=VARCHAR},
      searchtype = #{searchtype,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      isfreeship = #{isfreeship,jdbcType=VARCHAR},
      istmall = #{istmall,jdbcType=VARCHAR},
      taskkeynum = #{taskkeynum,jdbcType=VARCHAR},
      taskurl = #{taskurl,jdbcType=VARCHAR},
      minpicture = #{minpicture,jdbcType=VARCHAR},
      maxpicture = #{maxpicture,jdbcType=VARCHAR},
      tasktype = #{tasktype,jdbcType=VARCHAR},
      deepclick = #{deepclick,jdbcType=VARCHAR},
      isflow = #{isflow,jdbcType=VARCHAR},
      iscreativetitle = #{iscreativetitle,jdbcType=VARCHAR},
      taskstate = #{taskstate,jdbcType=VARCHAR},
      taskdate = #{taskdate,jdbcType=VARCHAR},
      finishcount = #{finishcount,jdbcType=INTEGER},
      errorcount = #{errorcount,jdbcType=INTEGER},
      subtractpoints = #{subtractpoints,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where taskdetailpk = #{taskdetailpk,jdbcType=INTEGER}
  </update>
</mapper>