<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.TTaskInfoQueryMapper" >
  <resultMap id="BaseResultMap" type="com.zhenapp.po.TTaskInfoQuery" >
    <id column="querypk" property="querypk" jdbcType="INTEGER" />
    <result column="usernick" property="usernick" jdbcType="VARCHAR" />
    <result column="taskpk" property="taskpk" jdbcType="INTEGER" />
    <result column="taskid" property="taskid" jdbcType="VARCHAR" />
    <result column="taskkeynum" property="taskkeynum" jdbcType="VARCHAR" />
    <result column="tasktype" property="tasktype" jdbcType="VARCHAR" />
    <result column="taskkeyword" property="taskkeyword" jdbcType="VARCHAR" />
    <result column="flowcounts" property="flowcounts" jdbcType="INTEGER" />
    <result column="collectioncounts" property="collectioncounts" jdbcType="INTEGER" />
    <result column="shoppingcounts" property="shoppingcounts" jdbcType="INTEGER" />
    <result column="finshflowcounts" property="finshflowcounts" jdbcType="INTEGER" />
    <result column="finshcollectioncounts" property="finshcollectioncounts" jdbcType="INTEGER" />
    <result column="finshshoppingcounts" property="finshshoppingcounts" jdbcType="INTEGER" />
    <result column="errorcounts" property="errorcounts" jdbcType="INTEGER" />
    <result column="taskdate" property="taskdate" jdbcType="VARCHAR" />
    <result column="publishtime" property="publishtime" jdbcType="VARCHAR" />
    <result column="taskstate" property="taskstate" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    querypk, usernick, taskpk, taskid, taskkeynum, tasktype, taskkeyword, flowcounts, 
    collectioncounts, shoppingcounts, finshflowcounts, finshcollectioncounts, finshshoppingcounts, 
    errorcounts, taskdate, publishtime, taskstate, createtime, createuser, updatetime, 
    updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhenapp.po.TTaskInfoQueryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_task_info_query
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_task_info_query
    where querypk = #{querypk,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_task_info_query
    where querypk = #{querypk,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhenapp.po.TTaskInfoQueryExample" >
    delete from t_task_info_query
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhenapp.po.TTaskInfoQuery" >
    insert into t_task_info_query (querypk, usernick, taskpk, 
      taskid, taskkeynum, tasktype, 
      taskkeyword, flowcounts, collectioncounts, 
      shoppingcounts, finshflowcounts, finshcollectioncounts, 
      finshshoppingcounts, errorcounts, taskdate, 
      publishtime, taskstate, createtime, 
      createuser, updatetime, updateuser
      )
    values (#{querypk,jdbcType=INTEGER}, #{usernick,jdbcType=VARCHAR}, #{taskpk,jdbcType=INTEGER}, 
      #{taskid,jdbcType=VARCHAR}, #{taskkeynum,jdbcType=VARCHAR}, #{tasktype,jdbcType=VARCHAR}, 
      #{taskkeyword,jdbcType=VARCHAR}, #{flowcounts,jdbcType=INTEGER}, #{collectioncounts,jdbcType=INTEGER}, 
      #{shoppingcounts,jdbcType=INTEGER}, #{finshflowcounts,jdbcType=INTEGER}, #{finshcollectioncounts,jdbcType=INTEGER}, 
      #{finshshoppingcounts,jdbcType=INTEGER}, #{errorcounts,jdbcType=INTEGER}, #{taskdate,jdbcType=VARCHAR}, 
      #{publishtime,jdbcType=VARCHAR}, #{taskstate,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhenapp.po.TTaskInfoQuery" >
    insert into t_task_info_query
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="querypk != null" >
        querypk,
      </if>
      <if test="usernick != null" >
        usernick,
      </if>
      <if test="taskpk != null" >
        taskpk,
      </if>
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="taskkeynum != null" >
        taskkeynum,
      </if>
      <if test="tasktype != null" >
        tasktype,
      </if>
      <if test="taskkeyword != null" >
        taskkeyword,
      </if>
      <if test="flowcounts != null" >
        flowcounts,
      </if>
      <if test="collectioncounts != null" >
        collectioncounts,
      </if>
      <if test="shoppingcounts != null" >
        shoppingcounts,
      </if>
      <if test="finshflowcounts != null" >
        finshflowcounts,
      </if>
      <if test="finshcollectioncounts != null" >
        finshcollectioncounts,
      </if>
      <if test="finshshoppingcounts != null" >
        finshshoppingcounts,
      </if>
      <if test="errorcounts != null" >
        errorcounts,
      </if>
      <if test="taskdate != null" >
        taskdate,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
      <if test="taskstate != null" >
        taskstate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="querypk != null" >
        #{querypk,jdbcType=INTEGER},
      </if>
      <if test="usernick != null" >
        #{usernick,jdbcType=VARCHAR},
      </if>
      <if test="taskpk != null" >
        #{taskpk,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="taskkeynum != null" >
        #{taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="taskkeyword != null" >
        #{taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="flowcounts != null" >
        #{flowcounts,jdbcType=INTEGER},
      </if>
      <if test="collectioncounts != null" >
        #{collectioncounts,jdbcType=INTEGER},
      </if>
      <if test="shoppingcounts != null" >
        #{shoppingcounts,jdbcType=INTEGER},
      </if>
      <if test="finshflowcounts != null" >
        #{finshflowcounts,jdbcType=INTEGER},
      </if>
      <if test="finshcollectioncounts != null" >
        #{finshcollectioncounts,jdbcType=INTEGER},
      </if>
      <if test="finshshoppingcounts != null" >
        #{finshshoppingcounts,jdbcType=INTEGER},
      </if>
      <if test="errorcounts != null" >
        #{errorcounts,jdbcType=INTEGER},
      </if>
      <if test="taskdate != null" >
        #{taskdate,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhenapp.po.TTaskInfoQueryExample" resultType="java.lang.Integer" >
    select count(*) from t_task_info_query
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_task_info_query
    <set >
      <if test="record.querypk != null" >
        querypk = #{record.querypk,jdbcType=INTEGER},
      </if>
      <if test="record.usernick != null" >
        usernick = #{record.usernick,jdbcType=VARCHAR},
      </if>
      <if test="record.taskpk != null" >
        taskpk = #{record.taskpk,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null" >
        taskid = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.taskkeynum != null" >
        taskkeynum = #{record.taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="record.tasktype != null" >
        tasktype = #{record.tasktype,jdbcType=VARCHAR},
      </if>
      <if test="record.taskkeyword != null" >
        taskkeyword = #{record.taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.flowcounts != null" >
        flowcounts = #{record.flowcounts,jdbcType=INTEGER},
      </if>
      <if test="record.collectioncounts != null" >
        collectioncounts = #{record.collectioncounts,jdbcType=INTEGER},
      </if>
      <if test="record.shoppingcounts != null" >
        shoppingcounts = #{record.shoppingcounts,jdbcType=INTEGER},
      </if>
      <if test="record.finshflowcounts != null" >
        finshflowcounts = #{record.finshflowcounts,jdbcType=INTEGER},
      </if>
      <if test="record.finshcollectioncounts != null" >
        finshcollectioncounts = #{record.finshcollectioncounts,jdbcType=INTEGER},
      </if>
      <if test="record.finshshoppingcounts != null" >
        finshshoppingcounts = #{record.finshshoppingcounts,jdbcType=INTEGER},
      </if>
      <if test="record.errorcounts != null" >
        errorcounts = #{record.errorcounts,jdbcType=INTEGER},
      </if>
      <if test="record.taskdate != null" >
        taskdate = #{record.taskdate,jdbcType=VARCHAR},
      </if>
      <if test="record.publishtime != null" >
        publishtime = #{record.publishtime,jdbcType=VARCHAR},
      </if>
      <if test="record.taskstate != null" >
        taskstate = #{record.taskstate,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_task_info_query
    set querypk = #{record.querypk,jdbcType=INTEGER},
      usernick = #{record.usernick,jdbcType=VARCHAR},
      taskpk = #{record.taskpk,jdbcType=INTEGER},
      taskid = #{record.taskid,jdbcType=VARCHAR},
      taskkeynum = #{record.taskkeynum,jdbcType=VARCHAR},
      tasktype = #{record.tasktype,jdbcType=VARCHAR},
      taskkeyword = #{record.taskkeyword,jdbcType=VARCHAR},
      flowcounts = #{record.flowcounts,jdbcType=INTEGER},
      collectioncounts = #{record.collectioncounts,jdbcType=INTEGER},
      shoppingcounts = #{record.shoppingcounts,jdbcType=INTEGER},
      finshflowcounts = #{record.finshflowcounts,jdbcType=INTEGER},
      finshcollectioncounts = #{record.finshcollectioncounts,jdbcType=INTEGER},
      finshshoppingcounts = #{record.finshshoppingcounts,jdbcType=INTEGER},
      errorcounts = #{record.errorcounts,jdbcType=INTEGER},
      taskdate = #{record.taskdate,jdbcType=VARCHAR},
      publishtime = #{record.publishtime,jdbcType=VARCHAR},
      taskstate = #{record.taskstate,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenapp.po.TTaskInfoQuery" >
    update t_task_info_query
    <set >
      <if test="usernick != null" >
        usernick = #{usernick,jdbcType=VARCHAR},
      </if>
      <if test="taskpk != null" >
        taskpk = #{taskpk,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        taskid = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="taskkeynum != null" >
        taskkeynum = #{taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        tasktype = #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="taskkeyword != null" >
        taskkeyword = #{taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="flowcounts != null" >
        flowcounts = #{flowcounts,jdbcType=INTEGER},
      </if>
      <if test="collectioncounts != null" >
        collectioncounts = #{collectioncounts,jdbcType=INTEGER},
      </if>
      <if test="shoppingcounts != null" >
        shoppingcounts = #{shoppingcounts,jdbcType=INTEGER},
      </if>
      <if test="finshflowcounts != null" >
        finshflowcounts = #{finshflowcounts,jdbcType=INTEGER},
      </if>
      <if test="finshcollectioncounts != null" >
        finshcollectioncounts = #{finshcollectioncounts,jdbcType=INTEGER},
      </if>
      <if test="finshshoppingcounts != null" >
        finshshoppingcounts = #{finshshoppingcounts,jdbcType=INTEGER},
      </if>
      <if test="errorcounts != null" >
        errorcounts = #{errorcounts,jdbcType=INTEGER},
      </if>
      <if test="taskdate != null" >
        taskdate = #{taskdate,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        taskstate = #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where querypk = #{querypk,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TTaskInfoQuery" >
    update t_task_info_query
    set usernick = #{usernick,jdbcType=VARCHAR},
      taskpk = #{taskpk,jdbcType=INTEGER},
      taskid = #{taskid,jdbcType=VARCHAR},
      taskkeynum = #{taskkeynum,jdbcType=VARCHAR},
      tasktype = #{tasktype,jdbcType=VARCHAR},
      taskkeyword = #{taskkeyword,jdbcType=VARCHAR},
      flowcounts = #{flowcounts,jdbcType=INTEGER},
      collectioncounts = #{collectioncounts,jdbcType=INTEGER},
      shoppingcounts = #{shoppingcounts,jdbcType=INTEGER},
      finshflowcounts = #{finshflowcounts,jdbcType=INTEGER},
      finshcollectioncounts = #{finshcollectioncounts,jdbcType=INTEGER},
      finshshoppingcounts = #{finshshoppingcounts,jdbcType=INTEGER},
      errorcounts = #{errorcounts,jdbcType=INTEGER},
      taskdate = #{taskdate,jdbcType=VARCHAR},
      publishtime = #{publishtime,jdbcType=VARCHAR},
      taskstate = #{taskstate,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where querypk = #{querypk,jdbcType=INTEGER}
  </update>
</mapper>