<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenapp.mapper.TTaskInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhenapp.po.TTaskInfo" >
    <id column="taskpk" property="taskpk" jdbcType="INTEGER" />
    <result column="taskid" property="taskid" jdbcType="VARCHAR" />
    <result column="tasktype" property="tasktype" jdbcType="VARCHAR" />
    <result column="taskkeynum" property="taskkeynum" jdbcType="VARCHAR" />
    <result column="taskurl" property="taskurl" jdbcType="VARCHAR" />
    <result column="tasktitle" property="tasktitle" jdbcType="VARCHAR" />
    <result column="taskwirelesstitle" property="taskwirelesstitle" jdbcType="VARCHAR" />
    <result column="taskstartdate" property="taskstartdate" jdbcType="VARCHAR" />
    <result column="taskenddate" property="taskenddate" jdbcType="VARCHAR" />
    <result column="taskdate" property="taskdate" jdbcType="VARCHAR" />
    <result column="taskreleasekeyword" property="taskreleasekeyword" jdbcType="VARCHAR" />
    <result column="taskkeyword" property="taskkeyword" jdbcType="VARCHAR" />
    <result column="taskhourcounts" property="taskhourcounts" jdbcType="VARCHAR" />
    <result column="taskminprice" property="taskminprice" jdbcType="VARCHAR" />
    <result column="taskmaxprice" property="taskmaxprice" jdbcType="VARCHAR" />
    <result column="tasksearchType" property="tasksearchtype" jdbcType="VARCHAR" />
    <result column="taskimgztc" property="taskimgztc" jdbcType="VARCHAR" />
    <result column="taskimgpt" property="taskimgpt" jdbcType="VARCHAR" />
    <result column="flowcount" property="flowcount" jdbcType="INTEGER" />
    <result column="Collectioncount" property="collectioncount" jdbcType="INTEGER" />
    <result column="Shoppingcount" property="shoppingcount" jdbcType="INTEGER" />
    <result column="deepclick" property="deepclick" jdbcType="VARCHAR" />
    <result column="tasktmallapppct" property="tasktmallapppct" jdbcType="VARCHAR" />
    <result column="taskgprspct" property="taskgprspct" jdbcType="VARCHAR" />
    <result column="taskPlus" property="taskplus" jdbcType="VARCHAR" />
    <result column="taskduration" property="taskduration" jdbcType="VARCHAR" />
    <result column="subtractpoints" property="subtractpoints" jdbcType="INTEGER" />
    <result column="taskstate" property="taskstate" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    taskpk, taskid, tasktype, taskkeynum, taskurl, tasktitle, taskwirelesstitle, taskstartdate, 
    taskenddate, taskdate, taskreleasekeyword, taskkeyword, taskhourcounts, taskminprice, 
    taskmaxprice, tasksearchType, taskimgztc, taskimgpt, flowcount, Collectioncount, 
    Shoppingcount, deepclick, tasktmallapppct, taskgprspct, taskPlus, taskduration, subtractpoints, 
    taskstate, createtime, createuser, updatetime, updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhenapp.po.TTaskInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_task_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_task_info
    where taskpk = #{taskpk,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_task_info
    where taskpk = #{taskpk,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhenapp.po.TTaskInfoExample" >
    delete from t_task_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhenapp.po.TTaskInfo" >
    insert into t_task_info (taskpk, taskid, tasktype, 
      taskkeynum, taskurl, tasktitle, 
      taskwirelesstitle, taskstartdate, taskenddate, 
      taskdate, taskreleasekeyword, taskkeyword, 
      taskhourcounts, taskminprice, taskmaxprice, 
      tasksearchType, taskimgztc, taskimgpt, 
      flowcount, Collectioncount, Shoppingcount, 
      deepclick, tasktmallapppct, taskgprspct, 
      taskPlus, taskduration, subtractpoints, 
      taskstate, createtime, createuser, 
      updatetime, updateuser)
    values (#{taskpk,jdbcType=INTEGER}, #{taskid,jdbcType=VARCHAR}, #{tasktype,jdbcType=VARCHAR}, 
      #{taskkeynum,jdbcType=VARCHAR}, #{taskurl,jdbcType=VARCHAR}, #{tasktitle,jdbcType=VARCHAR}, 
      #{taskwirelesstitle,jdbcType=VARCHAR}, #{taskstartdate,jdbcType=VARCHAR}, #{taskenddate,jdbcType=VARCHAR}, 
      #{taskdate,jdbcType=VARCHAR}, #{taskreleasekeyword,jdbcType=VARCHAR}, #{taskkeyword,jdbcType=VARCHAR}, 
      #{taskhourcounts,jdbcType=VARCHAR}, #{taskminprice,jdbcType=VARCHAR}, #{taskmaxprice,jdbcType=VARCHAR}, 
      #{tasksearchtype,jdbcType=VARCHAR}, #{taskimgztc,jdbcType=VARCHAR}, #{taskimgpt,jdbcType=VARCHAR}, 
      #{flowcount,jdbcType=INTEGER}, #{collectioncount,jdbcType=INTEGER}, #{shoppingcount,jdbcType=INTEGER}, 
      #{deepclick,jdbcType=VARCHAR}, #{tasktmallapppct,jdbcType=VARCHAR}, #{taskgprspct,jdbcType=VARCHAR}, 
      #{taskplus,jdbcType=VARCHAR}, #{taskduration,jdbcType=VARCHAR}, #{subtractpoints,jdbcType=INTEGER}, 
      #{taskstate,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhenapp.po.TTaskInfo" >
    insert into t_task_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskpk != null" >
        taskpk,
      </if>
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="tasktype != null" >
        tasktype,
      </if>
      <if test="taskkeynum != null" >
        taskkeynum,
      </if>
      <if test="taskurl != null" >
        taskurl,
      </if>
      <if test="tasktitle != null" >
        tasktitle,
      </if>
      <if test="taskwirelesstitle != null" >
        taskwirelesstitle,
      </if>
      <if test="taskstartdate != null" >
        taskstartdate,
      </if>
      <if test="taskenddate != null" >
        taskenddate,
      </if>
      <if test="taskdate != null" >
        taskdate,
      </if>
      <if test="taskreleasekeyword != null" >
        taskreleasekeyword,
      </if>
      <if test="taskkeyword != null" >
        taskkeyword,
      </if>
      <if test="taskhourcounts != null" >
        taskhourcounts,
      </if>
      <if test="taskminprice != null" >
        taskminprice,
      </if>
      <if test="taskmaxprice != null" >
        taskmaxprice,
      </if>
      <if test="tasksearchtype != null" >
        tasksearchType,
      </if>
      <if test="taskimgztc != null" >
        taskimgztc,
      </if>
      <if test="taskimgpt != null" >
        taskimgpt,
      </if>
      <if test="flowcount != null" >
        flowcount,
      </if>
      <if test="collectioncount != null" >
        Collectioncount,
      </if>
      <if test="shoppingcount != null" >
        Shoppingcount,
      </if>
      <if test="deepclick != null" >
        deepclick,
      </if>
      <if test="tasktmallapppct != null" >
        tasktmallapppct,
      </if>
      <if test="taskgprspct != null" >
        taskgprspct,
      </if>
      <if test="taskplus != null" >
        taskPlus,
      </if>
      <if test="taskduration != null" >
        taskduration,
      </if>
      <if test="subtractpoints != null" >
        subtractpoints,
      </if>
      <if test="taskstate != null" >
        taskstate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskpk != null" >
        #{taskpk,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="taskkeynum != null" >
        #{taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="taskurl != null" >
        #{taskurl,jdbcType=VARCHAR},
      </if>
      <if test="tasktitle != null" >
        #{tasktitle,jdbcType=VARCHAR},
      </if>
      <if test="taskwirelesstitle != null" >
        #{taskwirelesstitle,jdbcType=VARCHAR},
      </if>
      <if test="taskstartdate != null" >
        #{taskstartdate,jdbcType=VARCHAR},
      </if>
      <if test="taskenddate != null" >
        #{taskenddate,jdbcType=VARCHAR},
      </if>
      <if test="taskdate != null" >
        #{taskdate,jdbcType=VARCHAR},
      </if>
      <if test="taskreleasekeyword != null" >
        #{taskreleasekeyword,jdbcType=VARCHAR},
      </if>
      <if test="taskkeyword != null" >
        #{taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="taskhourcounts != null" >
        #{taskhourcounts,jdbcType=VARCHAR},
      </if>
      <if test="taskminprice != null" >
        #{taskminprice,jdbcType=VARCHAR},
      </if>
      <if test="taskmaxprice != null" >
        #{taskmaxprice,jdbcType=VARCHAR},
      </if>
      <if test="tasksearchtype != null" >
        #{tasksearchtype,jdbcType=VARCHAR},
      </if>
      <if test="taskimgztc != null" >
        #{taskimgztc,jdbcType=VARCHAR},
      </if>
      <if test="taskimgpt != null" >
        #{taskimgpt,jdbcType=VARCHAR},
      </if>
      <if test="flowcount != null" >
        #{flowcount,jdbcType=INTEGER},
      </if>
      <if test="collectioncount != null" >
        #{collectioncount,jdbcType=INTEGER},
      </if>
      <if test="shoppingcount != null" >
        #{shoppingcount,jdbcType=INTEGER},
      </if>
      <if test="deepclick != null" >
        #{deepclick,jdbcType=VARCHAR},
      </if>
      <if test="tasktmallapppct != null" >
        #{tasktmallapppct,jdbcType=VARCHAR},
      </if>
      <if test="taskgprspct != null" >
        #{taskgprspct,jdbcType=VARCHAR},
      </if>
      <if test="taskplus != null" >
        #{taskplus,jdbcType=VARCHAR},
      </if>
      <if test="taskduration != null" >
        #{taskduration,jdbcType=VARCHAR},
      </if>
      <if test="subtractpoints != null" >
        #{subtractpoints,jdbcType=INTEGER},
      </if>
      <if test="taskstate != null" >
        #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhenapp.po.TTaskInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_task_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_task_info
    <set >
      <if test="record.taskpk != null" >
        taskpk = #{record.taskpk,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null" >
        taskid = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.tasktype != null" >
        tasktype = #{record.tasktype,jdbcType=VARCHAR},
      </if>
      <if test="record.taskkeynum != null" >
        taskkeynum = #{record.taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="record.taskurl != null" >
        taskurl = #{record.taskurl,jdbcType=VARCHAR},
      </if>
      <if test="record.tasktitle != null" >
        tasktitle = #{record.tasktitle,jdbcType=VARCHAR},
      </if>
      <if test="record.taskwirelesstitle != null" >
        taskwirelesstitle = #{record.taskwirelesstitle,jdbcType=VARCHAR},
      </if>
      <if test="record.taskstartdate != null" >
        taskstartdate = #{record.taskstartdate,jdbcType=VARCHAR},
      </if>
      <if test="record.taskenddate != null" >
        taskenddate = #{record.taskenddate,jdbcType=VARCHAR},
      </if>
      <if test="record.taskdate != null" >
        taskdate = #{record.taskdate,jdbcType=VARCHAR},
      </if>
      <if test="record.taskreleasekeyword != null" >
        taskreleasekeyword = #{record.taskreleasekeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.taskkeyword != null" >
        taskkeyword = #{record.taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.taskhourcounts != null" >
        taskhourcounts = #{record.taskhourcounts,jdbcType=VARCHAR},
      </if>
      <if test="record.taskminprice != null" >
        taskminprice = #{record.taskminprice,jdbcType=VARCHAR},
      </if>
      <if test="record.taskmaxprice != null" >
        taskmaxprice = #{record.taskmaxprice,jdbcType=VARCHAR},
      </if>
      <if test="record.tasksearchtype != null" >
        tasksearchType = #{record.tasksearchtype,jdbcType=VARCHAR},
      </if>
      <if test="record.taskimgztc != null" >
        taskimgztc = #{record.taskimgztc,jdbcType=VARCHAR},
      </if>
      <if test="record.taskimgpt != null" >
        taskimgpt = #{record.taskimgpt,jdbcType=VARCHAR},
      </if>
      <if test="record.flowcount != null" >
        flowcount = #{record.flowcount,jdbcType=INTEGER},
      </if>
      <if test="record.collectioncount != null" >
        Collectioncount = #{record.collectioncount,jdbcType=INTEGER},
      </if>
      <if test="record.shoppingcount != null" >
        Shoppingcount = #{record.shoppingcount,jdbcType=INTEGER},
      </if>
      <if test="record.deepclick != null" >
        deepclick = #{record.deepclick,jdbcType=VARCHAR},
      </if>
      <if test="record.tasktmallapppct != null" >
        tasktmallapppct = #{record.tasktmallapppct,jdbcType=VARCHAR},
      </if>
      <if test="record.taskgprspct != null" >
        taskgprspct = #{record.taskgprspct,jdbcType=VARCHAR},
      </if>
      <if test="record.taskplus != null" >
        taskPlus = #{record.taskplus,jdbcType=VARCHAR},
      </if>
      <if test="record.taskduration != null" >
        taskduration = #{record.taskduration,jdbcType=VARCHAR},
      </if>
      <if test="record.subtractpoints != null" >
        subtractpoints = #{record.subtractpoints,jdbcType=INTEGER},
      </if>
      <if test="record.taskstate != null" >
        taskstate = #{record.taskstate,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_task_info
    set taskpk = #{record.taskpk,jdbcType=INTEGER},
      taskid = #{record.taskid,jdbcType=VARCHAR},
      tasktype = #{record.tasktype,jdbcType=VARCHAR},
      taskkeynum = #{record.taskkeynum,jdbcType=VARCHAR},
      taskurl = #{record.taskurl,jdbcType=VARCHAR},
      tasktitle = #{record.tasktitle,jdbcType=VARCHAR},
      taskwirelesstitle = #{record.taskwirelesstitle,jdbcType=VARCHAR},
      taskstartdate = #{record.taskstartdate,jdbcType=VARCHAR},
      taskenddate = #{record.taskenddate,jdbcType=VARCHAR},
      taskdate = #{record.taskdate,jdbcType=VARCHAR},
      taskreleasekeyword = #{record.taskreleasekeyword,jdbcType=VARCHAR},
      taskkeyword = #{record.taskkeyword,jdbcType=VARCHAR},
      taskhourcounts = #{record.taskhourcounts,jdbcType=VARCHAR},
      taskminprice = #{record.taskminprice,jdbcType=VARCHAR},
      taskmaxprice = #{record.taskmaxprice,jdbcType=VARCHAR},
      tasksearchType = #{record.tasksearchtype,jdbcType=VARCHAR},
      taskimgztc = #{record.taskimgztc,jdbcType=VARCHAR},
      taskimgpt = #{record.taskimgpt,jdbcType=VARCHAR},
      flowcount = #{record.flowcount,jdbcType=INTEGER},
      Collectioncount = #{record.collectioncount,jdbcType=INTEGER},
      Shoppingcount = #{record.shoppingcount,jdbcType=INTEGER},
      deepclick = #{record.deepclick,jdbcType=VARCHAR},
      tasktmallapppct = #{record.tasktmallapppct,jdbcType=VARCHAR},
      taskgprspct = #{record.taskgprspct,jdbcType=VARCHAR},
      taskPlus = #{record.taskplus,jdbcType=VARCHAR},
      taskduration = #{record.taskduration,jdbcType=VARCHAR},
      subtractpoints = #{record.subtractpoints,jdbcType=INTEGER},
      taskstate = #{record.taskstate,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenapp.po.TTaskInfo" >
    update t_task_info
    <set >
      <if test="taskid != null" >
        taskid = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        tasktype = #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="taskkeynum != null" >
        taskkeynum = #{taskkeynum,jdbcType=VARCHAR},
      </if>
      <if test="taskurl != null" >
        taskurl = #{taskurl,jdbcType=VARCHAR},
      </if>
      <if test="tasktitle != null" >
        tasktitle = #{tasktitle,jdbcType=VARCHAR},
      </if>
      <if test="taskwirelesstitle != null" >
        taskwirelesstitle = #{taskwirelesstitle,jdbcType=VARCHAR},
      </if>
      <if test="taskstartdate != null" >
        taskstartdate = #{taskstartdate,jdbcType=VARCHAR},
      </if>
      <if test="taskenddate != null" >
        taskenddate = #{taskenddate,jdbcType=VARCHAR},
      </if>
      <if test="taskdate != null" >
        taskdate = #{taskdate,jdbcType=VARCHAR},
      </if>
      <if test="taskreleasekeyword != null" >
        taskreleasekeyword = #{taskreleasekeyword,jdbcType=VARCHAR},
      </if>
      <if test="taskkeyword != null" >
        taskkeyword = #{taskkeyword,jdbcType=VARCHAR},
      </if>
      <if test="taskhourcounts != null" >
        taskhourcounts = #{taskhourcounts,jdbcType=VARCHAR},
      </if>
      <if test="taskminprice != null" >
        taskminprice = #{taskminprice,jdbcType=VARCHAR},
      </if>
      <if test="taskmaxprice != null" >
        taskmaxprice = #{taskmaxprice,jdbcType=VARCHAR},
      </if>
      <if test="tasksearchtype != null" >
        tasksearchType = #{tasksearchtype,jdbcType=VARCHAR},
      </if>
      <if test="taskimgztc != null" >
        taskimgztc = #{taskimgztc,jdbcType=VARCHAR},
      </if>
      <if test="taskimgpt != null" >
        taskimgpt = #{taskimgpt,jdbcType=VARCHAR},
      </if>
      <if test="flowcount != null" >
        flowcount = #{flowcount,jdbcType=INTEGER},
      </if>
      <if test="collectioncount != null" >
        Collectioncount = #{collectioncount,jdbcType=INTEGER},
      </if>
      <if test="shoppingcount != null" >
        Shoppingcount = #{shoppingcount,jdbcType=INTEGER},
      </if>
      <if test="deepclick != null" >
        deepclick = #{deepclick,jdbcType=VARCHAR},
      </if>
      <if test="tasktmallapppct != null" >
        tasktmallapppct = #{tasktmallapppct,jdbcType=VARCHAR},
      </if>
      <if test="taskgprspct != null" >
        taskgprspct = #{taskgprspct,jdbcType=VARCHAR},
      </if>
      <if test="taskplus != null" >
        taskPlus = #{taskplus,jdbcType=VARCHAR},
      </if>
      <if test="taskduration != null" >
        taskduration = #{taskduration,jdbcType=VARCHAR},
      </if>
      <if test="subtractpoints != null" >
        subtractpoints = #{subtractpoints,jdbcType=INTEGER},
      </if>
      <if test="taskstate != null" >
        taskstate = #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where taskpk = #{taskpk,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenapp.po.TTaskInfo" >
    update t_task_info
    set taskid = #{taskid,jdbcType=VARCHAR},
      tasktype = #{tasktype,jdbcType=VARCHAR},
      taskkeynum = #{taskkeynum,jdbcType=VARCHAR},
      taskurl = #{taskurl,jdbcType=VARCHAR},
      tasktitle = #{tasktitle,jdbcType=VARCHAR},
      taskwirelesstitle = #{taskwirelesstitle,jdbcType=VARCHAR},
      taskstartdate = #{taskstartdate,jdbcType=VARCHAR},
      taskenddate = #{taskenddate,jdbcType=VARCHAR},
      taskdate = #{taskdate,jdbcType=VARCHAR},
      taskreleasekeyword = #{taskreleasekeyword,jdbcType=VARCHAR},
      taskkeyword = #{taskkeyword,jdbcType=VARCHAR},
      taskhourcounts = #{taskhourcounts,jdbcType=VARCHAR},
      taskminprice = #{taskminprice,jdbcType=VARCHAR},
      taskmaxprice = #{taskmaxprice,jdbcType=VARCHAR},
      tasksearchType = #{tasksearchtype,jdbcType=VARCHAR},
      taskimgztc = #{taskimgztc,jdbcType=VARCHAR},
      taskimgpt = #{taskimgpt,jdbcType=VARCHAR},
      flowcount = #{flowcount,jdbcType=INTEGER},
      Collectioncount = #{collectioncount,jdbcType=INTEGER},
      Shoppingcount = #{shoppingcount,jdbcType=INTEGER},
      deepclick = #{deepclick,jdbcType=VARCHAR},
      tasktmallapppct = #{tasktmallapppct,jdbcType=VARCHAR},
      taskgprspct = #{taskgprspct,jdbcType=VARCHAR},
      taskPlus = #{taskplus,jdbcType=VARCHAR},
      taskduration = #{taskduration,jdbcType=VARCHAR},
      subtractpoints = #{subtractpoints,jdbcType=INTEGER},
      taskstate = #{taskstate,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where taskpk = #{taskpk,jdbcType=INTEGER}
  </update>
</mapper>