@charset "utf-8";
@import url('global.css');
body{background-color:#f8f8f8;}
/*uc_header*/
a:hover img{opacity:0.8; filter:alpha(opacity=80);}
.warp1200{width:1200px;margin:0 auto;zoom:1;}
.mtop10{margin-top:10px;}.mtop15{margin-top:15px;}.mtop20{margin-top:20px;}
.ptop10{padding-top:10px;}.ptop15{padding-top:15px;}.ptop20{padding-top:20px;}
.mainboxOut{background-color:#fff;border:1px solid #dedede; padding:15px;}
.ucbanner{width:100%;height:36px;line-height:36px; background-color:#ff1c6d; padding:2px 0;}
.ucmaps{width:100%;height:36px;line-height:36px; background-color:#fff;}
.uc_warp{width:1200px;margin:0 auto;}
.channelBg{width:100%; height:120px; background:url(/Upload/links/2015030920463222.jpg) center top no-repeat;}
/*header*/
.topBar{width:100%;height:35px;line-height:35px;background-color:#313131;}
.pageFull{height:80px; padding-bottom:6px;background:url(../img/bannerbg.png) center top no-repeat;}
.webHeader{height:80px; width:1200px; margin:0 auto;padding-bottom:6px; }
.webHeader .logo{width:200px; height:80px; overflow:hidden;}
.webHeader .logo a{display:block; width:220px; height:80px;background:url(../img/userlogo.png) no-repeat; text-indent:-99999px;}
.webHeader .channel{width:730px;}
.webHeader .channel ul{margin-top:17px;}
.webHeader .channel ul li{float:left;width:90px; height:45px; line-height:45px; display:inline-block; margin-left:10px;}
.webHeader .channel ul li a{display:block;width:90px; height:45px;line-height:45px;text-align:center; font-size:16px;}
.webHeader .channel ul li a:hover,.webHeader .channel ul li a.hover{height:43px; line-height:43px;border-bottom:2px solid #ed7200;color:#d54308;}

.topbar2{width:100%; height:35px; line-height:35px; background-color:#f1f1f1; border-bottom:1px solid #dedede;}
.userlogin{width:400px;text-align:right;height:35px; line-height:35px;}
.userlogin a{margin:0 7px;color:#039;}
.userlogin span{color:#c00; margin:0 10px; font-weight:bold;}
.hotnews{width:500px;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:35px; line-height:35px;}
.hotnews a{color:#f00;}
.hotnews i{ font-size:14px; padding:0 10px;}


/*登陆&注册*/
.userbox{background-color:#fff;border:1px solid #ddd; margin-top:30px;}
.login_tip{height:35px;line-height:35px;background-color:#fbfbfb;border-bottom:1px solid #dedede;}
.login_tip h2{height:35px;line-height:35px;font-size:16px;width:200px; text-align:left; text-indent:20px;color:#333;font-weight:bold;}
.login_tip .gologin{width:260px;height:35px;line-height:35px;font-size:14px; text-align:right; padding-right:20px;color:#666;}
.login_tip .gologin a{color:#F03; margin:0 2px;}
.userForm{padding:30px;}
.login_box{width:650px;padding-bottom:20px;}
.login_api{width:230px;border-left:1px solid #dedede; padding-left:15px; padding-bottom:20px;}
.login_api h2{height:40px; line-height:40px; font-size:18px;color:#444; text-align:left;}
.api_info li{width:230px; height:45px;margin-top:10px;}
.api_info li a{display:block;width:230px; height:45px;text-indent:-999999px; background:url(../../image/web_ico.png) -220px -40px no-repeat;}
.api_info li a.api_sina{ background-position:-220px -85px;}
.api_info li a.api_seller{background-position:-220px -130px;}
/*uc_copyright*/
.uc_copyright{width:100%;background-color:#f8f8f8; padding:10px 0; margin-top:20px; border-top:1px solid #dedede;}
.uc_copyright .copytxt p{ height:25px; line-height:25px;color:#666;}
.uc_copyright .copytxt p a,.uc_copyright .copytxt p span{margin:0 10px;color:#666;}
/*userbody*/
.userbody{padding-top:20px;}
.leftmenu{width:200px;background-color:#fff;}
.rightbox{width:980px;}
.leftmenu dl{}
.leftmenu dt{height:42px;line-height:42px;font-weight:bold;background-color:#17bcb8;}
.leftmenu dt a{width:180px;display:block;height:42px;line-height:42px;text-indent:20px;color:#fff;font-size:14px;}
.leftmenu dd{padding:10px 5px;border-left:1px solid #dedede;border-right:1px solid #dedede;}
.leftmenu dd.acc{border-bottom:1px solid #dedede;}
.leftmenu dd p{height:35px;line-height:35px;}
.leftmenu dd p a{display:block;height:35px;line-height:35px;text-indent:12px;font-size:14px;}
.leftmenu dd p a:hover,.leftmenu dd p a.hover{background-color:#efefef;color:#c00;}
.leftmenu dd p a i{padding-right:5px;}
.u_outbox{border:1px solid #dedede; background-color:#fff;}
.tabtitle{height:38px;line-height:38px;background-color:#f0f0f0; border-bottom:1px solid #dedede;}
.tabtitle a{display:block;height:38px;line-height:38px; padding:0 30px;border-right:1px solid #dedede; font-size:14px; font-weight:bold;}
.tabtitle a.hover,.tabtitle a.hover:hover{background-color:#fff;color:#c00;border-bottom:1px solid #fff; margin-bottom:-1px;}
.tabtitle a:hover{background-color:#f8f8f8;color:#c00;margin-bottom:0;}
.umainbox{padding:20px; min-height:386px;_height:386px;}
/*tablestlye*/
.tablelist{width:100%;table-layout:fixed}
.tablelist thead th,.tablelist tr td{ height:30px; line-height:30px; text-align:center; border:1px solid #ddd; padding:0 5px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden}
.tablelist thead th{background-color:#f7f7f7;color:#666;}
.tablelist td.title{ text-align:left;}
.tablelist td.status .jia{color:#00f;}
.tablelist td.status .jian{color:#f00;}
/*会员中心翻页样式*/
.page_no{height:27px;line-height:27px;text-align:right;}
.paging{height:27px;line-height:27px;}
.paging a,.paging span{display:inline-block; padding:0 10px;height:25px;line-height:25px;margin-right:7px; border:1px solid #dedede;background-color:#f5f5f5;color:#666;}
.paging a:hover,.paging a.cur{text-decoration:none;background-color:#666;color:#fff;border:1px solid #666;}
.paging span o{margin:0 3px;}

.copyRight{width:100%;padding:20px 0; background-color:#313131; margin-top:30px;}
.copyRight .footer{height:25px; line-height:24px;}
.copyRight .footer p{height:25px; line-height:24px;color:#666;text-align:center;}
.copyRight .footer p span{margin:0 5px;}
.copyRight .footer p a{margin:0 5px;color:#666;text-decoration:underline;}
/*uploadify 上传按钮*/
.form_control .uploadify{float:left;overflow:hidden;margin-left:10px;}
.form_control .up_file{display:none;}
.form_control .uploadify-queue{ display:none;}

/*编辑器冲突样式*/

/*任务列表样式*/
.taskListRed {color: #FF0000}
.taskListGreen {color: #009900}
